// Primary colors
$brand-primary: #08B5E5;
$dark-grey: #5B6A72;
$info-grey: #878787;
$light-grey: #ECEFF0;

// Secondary colors
$success: #67AE19;
$error: #D41B32;
$in-progress: $brand-primary;
$pending: #E0961D;
$state-info-text: $pending;
$notice: #08B5E5;

// Bootstrap Alerts
$state-success-border: $success;
$state-success-bg: white;
$state-success-text: $success;

$state-info-text: $notice;
$state-info-bg: white;
$state-info-border: $notice;

$state-warning-text: $pending;
$state-warning-bg: white;
$state-warning-border: $pending;

$state-danger-text: $error;
$state-danger-bg: white;
$state-danger-border: $error;

// Colors sampled from mocks
$grey: #96A0A9;
$grey-border: #E3E3E1;
$grey-background: #F4F5F7;
$white-grey: #FCFCFC;
$happy: #B7E888;

// Common borders
$grey-border-bottom: 1px solid $grey-border;