@import "send.scss";
@import "receive.scss";
@import "multi-currency.scss";

.dashboard {
  .row {
    margin: 0;
  }

  .controls-container {
    background-color: $grey-background;
    padding-bottom: 25px;
    padding-top: 25px;

    .controls {
      text-align: center;

      > div {
        padding-left: 0;
        padding-right: 0;
      }

      .single-balance-container {
        padding-top: 20px;
      }

      .multi-balance-container {
        margin-bottom: 35px;
      }

      .dash-info-container {
        margin-top: 16px;
      }

      .dash-receive-container,
      .dash-send-container {
        margin-top: 25px;
      }

      .img-container {
        display: none;
      }

      .dash-balance {
        color: $dark-grey;
        font-weight: $heavy-weight;
        white-space: nowrap;
        font-size: 84px;
        line-height: 42px;
        letter-spacing: -0.0025em;
      }

      .dash-balance-info {
        color: $info-grey;
        font-weight: $book-weight;
        font-size: 17px;
        line-height: 45px;
        margin-bottom: 10px;

        b {
          font-weight: $heavy-weight;
        }
      }

      .dash-currency-line {
        margin: 5px 10%;
        text-align: left;

        &:first-child {
          .currency-balance {
            font-size: 30px;
            font-weight: $heavy-weight;
          }
          .currency-unit {
            padding-top: 15px;
          }
        }

        &:last-child {
          border-bottom: 0;
          padding-bottom: 0;
        }

        .currency-unit {
          text-align: left;
          color: $grey;
          padding: 0;
        }

        .currency-balance {
          text-align: right;
          font-size: 18px;
          padding: 0;
        }
      }

      button, .no-button {
        padding: 6px 24px;
        width: 100%;

        i {
          margin-right: 6px;
          font-size: 22px;
          vertical-align: middle;
          margin-top: -6px;
        }
      }

      .no-button {
        font-weight: 800;
        font-size: 17px;
        color: $stellar-blue;

        i {
          margin-right: 10px;
        }
      }
    }
  }

  @media (min-width: $phone-width) {
    .controls-container {
      padding-bottom: 0px;

      .controls {

        > div {
          display: inline;
        }

        .dash-receive-container,
        .dash-send-container {
          margin-top: 0;
        }

        .dash-info-container {
          line-height: 45px;
          margin-top: 0;
        }

        .multi-balance-container {
          margin-bottom: 0;
        }

        .img-container {
          display: inline-block;
        }
      }

      .arrow-row {

        height:25px;
        .col-sm-3{
          float: none;
        }

        .arrow {
          margin:auto;
          width: 0;
          height: 0;
          border-left: 20px solid transparent;
          border-right: 20px solid transparent;
          border-bottom: 26px solid white;
          margin-top: -23px;
          &.arrow-shadow {
            border-bottom-color: $grey-border;
            margin-top: 0;
            
          }
        }

      }
    }
  }

  .tx-tip-container {
    border-bottom: none !important;
    white-space: nowrap;

    .client-section {
      margin-top: -36px;
      text-align: center;
      position: relative;
      height: 0;
    }

    .tx-tip {
      font-weight: $medium-weight;
      font-size: 20px;
      color: $dark-grey;
      background-color: white;
      right: 7px;
      line-height: 32px;
      display: inline-block;
      margin: 6px auto 0 auto;
      border-radius: 4px;
      border: 1px solid $grey-border;
      cursor: default;

      &:before {
        border-style: solid;
        border-color: $grey-border transparent;
        border-width: 0 10px 10px 10px;
        bottom: -7px;
        content: "";
        position: absolute;
        left: calc(50% - 5px);
      }

      &:after {
        border-style: solid;
        border-color: white transparent;
        border-width: 0 10px 10px 10px;
        bottom: -8px;
        content: "";
        position: absolute;
        left: calc(50% - 5px);
      }

      div {
        display: inline-block;
        line-height: 60px;
      }

      .tx-type {
        background-color: $success;
        border: 1px solid $success;

        i {
          font-size: 28px;
          vertical-align: middle;
          padding: 0 10px;
          color: white;
        }
      }

      .tx-message {
        padding: 0 20px;
        background-color: white;

        .amount {
          font-weight: $heavy-weight;
        }
      }
    }
  }

  .pane {
    background-color: transparent;
    color: $dark-grey;
    position: relative;
    padding: 0 0 25px 0;

    form > div {
      margin: 15px 0;

      label {
        padding-left: 0;
        font-size: 14px;
        line-height: 36px;
      }
    }

    .title {
      font-size: 20px;
      border-bottom: $grey-border-bottom;
      height: 70px;
      line-height: 40px;

      &.hide-text {
        opacity: 0;
      }
    }

    .pane-close {
      float: none;
      height: 70px;
      line-height: 70px;
      position: absolute;
      right: 0;
      z-index: 1;
    }
  }

  &.send-tutorial {
    .reward-page .content .send-stellar {
      .send-arrow {
        opacity: 1;
      }
    }
  }

  .tab-panes {
    max-height: 0;
    overflow: hidden;
    @include transition(max-height 700ms ease-in-out);

    &.open {
      max-height: 700px;
    }
  }
}