.dashboard {
  .row {
    margin: 0;
  }

  .controls {
    background-color: $grey-background;
    padding-bottom: 25px;
    text-align: center;
    display: flex;

    > div {
      padding-left: 0;
      padding-right: 0;

      &.dash-balance-container {
        margin-left: auto;
        margin-right: auto;
      }
    }

    .dash-title {

    }

    .dash-balance {
      color: $dark-grey;
      font-family: $avenir-black;
      font-size: 84px;
      white-space: nowrap;
    }

    .dash-balance-info {
      color: $info-grey;
      font-family: $avenir-book;
      font-size: 17px;

      b {
        font-family: $avenir-heavy;
      }
    }

    img {
      margin-top: 25px;
      margin-bottom: 10px;
    }

    button {
      padding: 6px 24px;
      width: 100%;

      i {
        margin-right: 6px;
        font-size: 22px;
        vertical-align: middle;
        margin-top: -6px;
      }
    }
  }

  .tx-tip-container {
    border-bottom: none !important;
    white-space: nowrap;

    > div {
      margin-top: -36px;
      text-align: center;
      position: relative;
      height: 0;
    }

    .tx-tip {
      font-family: $avenir-medium;
      font-size: 20px;
      color: $dark-grey;
      background-color: white;
      right: 7px;
      line-height: 32px;
      display: inline-block;
      margin: 6px auto 0 auto;
      border-radius: 4px;
      border: 1px solid $grey-border;
      cursor: default;

      &:before {
        border: solid;
        border-color: $grey-border transparent;
        border-width: 0 10px 10px 10px;
        bottom: -7px;
        content: "";
        position: absolute;
        left: calc(50% - 5px);
      }

      &:after {
        border: solid;
        border-color: white transparent;
        border-width: 0 10px 10px 10px;
        bottom: -8px;
        content: "";
        position: absolute;
        left: calc(50% - 5px);
      }

      div {
        display: inline-block;
        line-height: 60px;
      }

      .tx-type {
        background-color: $success;
        border: 1px solid $success;

        i {
          font-size: 28px;
          vertical-align: middle;
          padding: 0 10px;
          color: white;
        }
      }

      .tx-message {
        padding: 0 20px;
        background-color: white;

        .amount {
          font-family: $avenir-black;
        }
      }
    }
  }

  .tx-popup-container {
    text-align: center;
    border-bottom: none ;

    .tx-popup {
      background-color: white;
      text-align: left;
      display: inline-block;
      position: absolute;
      border-radius: 4px;
      overflow: hidden;
      border: 1px solid $grey-border;
      margin: 0 auto;


    }
  }

  .send-container {
    .send-pane {
      background-color: transparent;
      color: $dark-grey;

      form > div {
        margin: 45px 0;

        label {
          padding-left: 0;
          font-size: 14px;
          line-height: 36px;
        }

        .send-amount {
          padding: 0;

          i {
            font-size: 12px;
            font-style: normal;
            top: 21px;
          }

          input {
            font-size: 48px;
            height: auto;
            padding-right: 50px;
          }

          + .tip {
            line-height: 82px
          }
        }

        .send-address {
          padding: 0;

          i {
            top: 5px;
          }

          input {
            font-size: 22px;
            height: auto;
            padding-right: 36px;
          }

          + .tip {
            line-height: 45px
          }
        }
      }
      
      .close-send-tab {
        float: right;
        font-size: 16px;
        margin: 5px 0;
        cursor: pointer;
        color: $info-grey;
        @include transition(color 200ms ease-in-out);

        &:hover {
          color: $error;

          i {
            color: $error;
          }
        }

        i {
          font-size: 26px;
          vertical-align: middle;
          margin-left: 10px;
          margin-top: -4px;
        }
      }

      .title {
        font-size: 20px;
        margin: 20px 0;
        border-bottom: $grey-border-bottom;
        padding-bottom: 20px;
      }

      group.send-error p {
        padding: 20px;
        margin-top: 10px;
        text-align: center;
        border: 1px solid $error;
        color: $error;
        border-radius: 2px;
      }

      .mode-confirm > div {
        text-align: center;
        border: 1px solid $grey-border;
        border-radius: 2px;
        margin: 40px auto 30px auto;
        width: 540px;
        padding: 30px 36px;

        .info {
          font-size: 20px;
          color: $info-grey;
        }

        .amount_feedback {
          font-size: 46px;
        }

        input {
          width: 100%;
          padding: 10px 15px;
          margin-top: 15px;
          margin-bottom: 40px;
          border-radius: 2px;
          border: 1px solid rgba($grey, 0.3);
          background-color: rgba($light-grey, 0.4);

          + i {
            font-size: 16px;
            margin-top: 14px;
          }
        }

        button {
          height: 60px;
          width: 100%;
          color: white;
          background-color: #80D8BF;
          font-size: 25px;
          box-shadow: none;
          border-bottom-color: $stellar-blue;

          &:hover {
            background-color: $stellar-blue;
          }
        }
      }

      .change-button {
        width: 220px;
        margin: 0 auto 40px auto;
      }

      .errors .tip {
        right: -7px;
      }
    }
  }
}