.flash-message-container {
  padding-top: 28px;
  padding-bottom: 28px;

  &:empty {
    display: none;
  }

  .flash-message {
    min-height: 60px;
    border: 1px solid $brand-primary;
    border-radius: 2px;
    padding-top: 8px;
    margin-bottom: 20px;
    position: relative;
    background-color: white;
    box-shadow: 0 1px 6px 6px rgba($grey, 0.1),
                0 1px 2px 2px rgba($grey, 0.2);

    &.error {
      border-color: $error;

      .flash-title {
        color: $error;
      }

      .flash-accent {
        background-color: $error;
      }
    }

    &.success {
      border-color: $success;

      .flash-title {
        color: $success;
      }

      .flash-accent {
        background-color: $success;
      }
    }

    &.clickable {
      cursor: pointer;
    }

    .flash-body {
      margin: 0 40px;
    }

    .flash-title,
    .flash-info{
      display: block;
      margin: 6px 0;
    }

    .flash-title {
      font-size: 20px;
      font-weight: $medium-weight;
      color: $brand-primary;
    }

    .flash-info {
      font-size: 16px;
      margin-bottom: 14px;
    }

    .flash-template {
      margin-bottom: 12px;
    }

    .icon-close {
      font-size: 26px;
      color: $grey;
      position: absolute;
      padding: 18px 20px;
      right: 0;
      cursor: pointer;
    }

    .flash-accent {
      width: 100%;
      height: 4px;
      background-color: $brand-primary;
      position: absolute;
      bottom: 0;
    }

    .pull-right {
      float: right;
    }
  }
}

#dashboard-flash-messages {
  background-color: $grey-background;
}

.invite-messages {
  background-color: $grey-background;
  .invite-message {
    margin: 25px 0;
    border: 1px solid $brand-primary;
    border-radius: 3px;
    background: fade_out($brand-primary,0.95) url(../images/stroopy.gif) no-repeat 15px center;
    background-size: 40px;
    padding: 15px 0 15px 70px;
    color: $brand-primary;
    p {
      float: left;
      font-size: 18px;
      font-weight: $book-weight;
      margin: 8px 0 0 0;
      width: 85%;
    }
    button {
      float: right;
      margin-right: 15px;
      background: $brand-primary;
      border: 1px solid darken($brand-primary, 10);
      border-radius: 3px;
      color: #fff;
      padding: 8px 15px;
      &:hover {
        background: darken($brand-primary, 5);
      }
    }

  }
  @media (max-width: $phone-width) {
    .invite-message {
      background-position: 5px 15px;
      padding: 5px 0 5px 55px; 
      p {
        font-size: 16px;
      }
      button {
        float: none;
        margin: 10px 0;
        width: 95%;
      }
    }
  }
}

.alert {
  border-bottom-width: 3px;
}

.alert-dismissable .close {
  font-weight: $book-weight;
  color: $info-grey;
  opacity: 1.0;

  i {
    font-size: 26px;
  }

  @include transition(color 200ms ease-in-out);

  &:hover {
    color: $error;
  }
}