// Font weight aliases.
// We are currently using Clear Sans with 300, 300, 700
$clear-sans: 'Clear Sans';
$book-weight: 300;
$medium-weight: 500;
$heavy-weight: 700;

@font-face {
    font-family: 'Clear Sans';
    font-style: normal;
    font-weight: 300;
    src: local('ClearSans-Light'), local('Clear Sans Light'),
        url('../fonts/ClearSans-Light.eot'),
        url('../fonts/ClearSans-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ClearSans-Light.woff') format('woff'),
        url('../fonts/ClearSans-Light.ttf') format('truetype'),
        url('../fonts/ClearSans-Light.svg') format('svg');
}

@font-face {
    font-family: 'Clear Sans';
    font-style: normal;
    font-weight: 500;
    src: local('ClearSans-Medium'), local('Clear Sans Medium'),
        url('../fonts/ClearSans-Medium.eot'),
        url('../fonts/ClearSans-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ClearSans-Medium.woff') format('woff'),
        url('../fonts/ClearSans-Medium.ttf') format('truetype'),
        url('../fonts/ClearSans-Medium.svg') format('svg');
}

@font-face {
    font-family: 'Clear Sans';
    font-style: normal;
    font-weight: 700;
    src: local('ClearSans-Bold'), local('Clear Sans Bold'),
        url('../fonts/ClearSans-Bold.eot'),
        url('../fonts/ClearSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ClearSans-Bold.woff') format('woff'),
        url('../fonts/ClearSans-Bold.ttf') format('truetype'),
        url('../fonts/ClearSans-Bold.svg') format('svg');
}

.title {

  font-weight: $book-weight;
}

.info {

  font-weight: $book-weight;
}
