$avenir: 'Avenir W01';
$avenir-book: 300;
$avenir-medium: 500;
$avenir-heavy: 800;
$avenir-black: 900;

.title {

  font-weight: $avenir-medium;
}

.info {

  font-weight: $avenir-book;
}

@import url(https://fast.fonts.net/cssapi/d96d4bc8-5740-4ee1-b1ab-eafb3bdf7f1e.css);