@font-face {
	font-family: "stellar-client";
	src: url('../fonts/stellar-client.eot');
	src: url('../fonts/stellar-client.eot?#iefix') format('eot'),
		url('../fonts/stellar-client.woff') format('woff'),
		url('../fonts/stellar-client.ttf') format('truetype'),
		url('../fonts/stellar-client.svg#stellar-client') format('svg');
}

.icon:before {
	font-family: "stellar-client";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-check-circle-thin:before {
	content: "\E001";
}

.icon-close:before {
	content: "\E002";
}

.icon-email:before {
	content: "\E003";
}

.icon-heart:before {
	content: "\E004";
}

.icon-key:before {
	content: "\E005";
}

.icon-lock:before {
	content: "\E006";
}

.icon-ok:before {
	content: "\E007";
}

.icon-receive:before {
	content: "\E008";
}

.icon-send:before {
	content: "\E009";
}

.icon-tick:before {
	content: "\E00A";
}

.icon-times-circle-thin:before {
	content: "\E00B";
}

.icon-tour:before {
	content: "\E00C";
}

.icon-user:before {
	content: "\E00D";
}
