@import "_icons.scss";

.icon-close {
	@include icon(times-circle-thin);
}

.glyphicon {
  font-size: 12pt;
  color: $info-grey;
  @include transition(color 200ms ease-in-out);

  &.glyphicon-remove {
    color: $error;
  }
}

.input-icon-wrapper {
  position: relative;

  .glyphicon,
  .icon {
    font-size: 10pt;
    padding: 14px 12px;
    position: absolute;
    right: 0px;
    top: 0px;
  }

  input {
    padding-right: 30px;
  }
}