.invite-page {
	.title {
		border-bottom: 1px solid $grey-border;
		line-height: 1.25em;
		padding-bottom: 10px;
	}
	.dev-invite {
		float: right;
	}
	h2 {
		font-size: 18px;
		line-height: 1.25em;
		padding-bottom: 10px;
		margin-bottom: 0;
	}
	h3 {
		font-size: 16px;
		line-height: 1.25em;
	}
	#inviteForm {
		input[type="email"] {
			font-size: 18px;
			height: auto;
			padding: 9px 8px;
			margin-bottom: 15px;
		}
	}
	.invite-row {
		float: left;
		width: 100%;
		padding: 10px 0;
	}
	.invites {
		margin-top: 55px;
		line-height: 1.8em;
		.invite-row {
			border-top: 1px solid $grey-border;
			
		}
		span {
			display: block;
			float: left;
		}
		.email {
			font-size: 18px;
			width: 35%;
		}
		.status {
			
		}
		.invite-actions {
			float: right;
		}
	}

	@media (max-width: $phone-width) {
		.invites {
			.invite-row {
				span {
					width: 100%;
				}
				.invite-actions {
					float: left;
					span {
						display: inline;
						width: auto;
					}
				}
			}
		}
	}
}