.login {
  padding-bottom: 80px;

  .input-icon-wrapper {

    .icon {
      margin-right:15px;
      color: #D8D8D8;
    }

    .icon-user {
      font-size: 16px;
      padding: 10px 12px;
      color: #C8C8C8
    }

    .icon-key {
      font-size: 10px;
      padding: 16px 12px;
    }
  }
}