$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

$phone-width: 768px;
$mobile-width: 992px;

@import "color-palette.scss";
@import "fonts.scss";
@import "icons.scss";

@import "alpha.scss";
@import "login.scss";
@import "dashboard.scss";
@import "registration.scss";
@import "browser_unsupported.scss";
@import "password.scss";
@import "transactionHistory.scss";
@import "reward-container.scss";
@import "pane.scss";
@import "modalStatus.scss";
@import "flash-message.scss";

body {
  height: 100%;
  width: 100%;
  color: $dark-grey;
  font-family: $avenir;
  min-width: 450px;
}

.stellar-form {
  margin-top: 0;

  .form-group {
    margin-top: 0;
    margin-bottom: 5px;

    .errors {
      height: 40px;

      .tip {
        font-weight: $avenir-heavy;
        font-size: 14px;
        background-color: $error;
        color: white;
        top: -5px;
        right: 7px;
        line-height: 32px;
        height: 32px;
        padding: 0 12px;
        text-align: center;
        margin-right: 15px;
        border-radius: 2px;
        @include transition(opacity 200ms ease-in-out);

        &:empty {
          opacity: 0;
        }

        &:before {
          border: solid;
          border-color: $error transparent;
          border-width: 6px 6px 0 6px;
          bottom: -6px;
          content: "";
          left: 26px;
          position: absolute;
        }

        &.success {
          background-color: $success;

          &:before {
            border-color: $success transparent;
          }
        }
      }
    }

    label {
      font-weight: $avenir-heavy;
      font-size: 15px;
      line-height: 42px;
    }

    input {
      height: 42px;
      border-radius: 2px;
      color: $dark-grey;

      &:focus {
        box-shadow: none;
        border-color: $stellar-blue;

        + i {
          color: $stellar-blue;
        }
      }

      &.input-error {
        border-color: $error;

        &:focus {
          border-color: $error;

          + i {
            color: $error;
          }
        }
      }
    }

    .tip {
      font-weight: $avenir-book;
      font-size: 14px;
      color: $info-grey;
      line-height: 42px;
    }

    .info {
      padding-left: 0;

      .status {
        width: 40px;
        height: 40px;

        &.glyphicon,
        &.icon {
          padding: 12px 12px;
        }

        &.glyphicon-none:before,
        &.icon-none:before {
          content: "\e013";
          opacity: 0;
        }
      }
    }

    button {
      width: 100%;
      margin-top: 30px;
      margin-bottom: 40px;
      font-weight: $avenir-heavy;
      font-size: 17px;
    }
  }

  .form-control[disabled],
  .form-control[readonly],
  fieldset[disabled] .form-control {
    cursor: text;
    background-color: white;
  }
}

.stellar-button, .btn-stellar {
  height: 45px;
  font-weight: $avenir-heavy;
  font-size: 17px;
  color: black;
  background-color: $white-grey;
  border-bottom-color: $grey;
  border-radius: 2px;
  box-shadow: 0 -1px 0 0 rgba(black, 0.1) inset;
  @include transition(border-color 200ms ease-in-out,
                      background-color 200ms ease-in-out,
                      color 200ms ease-in-out,
                      box-shadow 200ms ease-in-out);

  i {
    color: $grey;
    @include transition(color 200ms ease-in-out);
  }

  &:hover {
    border-color: $stellar-blue;
    background-color: $stellar-blue;
    border-bottom-color: $dark-grey;
    color: white;
    box-shadow: 0 -1px 0 0 rgba(black, 0) inset;

    i {
      color: white;
    }
  }

  &:focus {
    outline: none;
    background-color: $white-grey;
    color: black;

    &:hover {
      color: white;
      background-color: $stellar-blue;
    }
  }

  &.cancel {
    background-color: $light-grey;

    &:hover {
      border-color: $error;
      color: $error;

      i {
        color: $error;
      }
    }

    &:focus {
      outline: none;

      &:hover {
        color: $error;
      }
    }
  }
}

.right-inner-addon {
  position: relative;
}
.right-inner-addon input {
  padding-right: 30px;
}
.right-inner-addon i {
  position: absolute;
  right: 2px;
  padding: 10px 12px;
  pointer-events: none;
  font-size: 17px;
  color: $info-grey;
}

.ng-cloak, .ng-hide {
  display: none;
}

.client-nav {
  margin-bottom: 0;

  ul {
    font-weight: $avenir-medium;
    font-size: 15px;

    a {
      margin-top: 3px;
      padding: 7px 24px;
      @include transition(color 200ms ease-in-out);

      &:hover {
        color: $stellar-blue !important;
      }
    }

    .sign-up {
      border: 1px solid $grey-border;
    }
  }

  .client-inner-nav {
    padding-top: 20px;
    padding-bottom: 15px;
    border-top: 3px solid $stellar-blue;
    border-bottom: 1px solid $grey-border;
    background-color: $grey-background;
  }

  .navbar-brand {
    color: #09B5E5;
    font-weight: $avenir-black;
    font-size: 26px;

    &:hover {
      color: #09B5E5;
    }
  }
}

.client-container {
  > div {
    > .title {
      font-size: 21px;
      padding-top: 15px;
      padding-bottom: 20px;
      margin-top: 5px;
    }
  }
}

.glyphicon {
  font-size: 12pt;
  color: $info-grey;
  @include transition(color 200ms ease-in-out);

  &.glyphicon-remove {
    color: $error;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.spin {
  @include transform-origin(51% 48%);
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: spin;
}

.input-icon-wrapper {
  position: relative;

  .glyphicon,
  .icon {
    font-size: 10pt;
    padding: 14px 12px;
    position: absolute;
    right: 0px;
    top: 0px;
  }

  input {
    padding-right: 30px;
  }
}

.pane-close {
  float: right;
  font-size: 16px;
  cursor: pointer;
  font-weight: $avenir-book;
  color: $info-grey;
  height: 50px;
  line-height: 50px;

  @include transition(color 200ms ease-in-out);

  i {
    font-size: 26px;
    margin-top: 5px;
    margin-left: 8px;
  }

  span, i {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }

  &:hover {
    color: $error;

    i {
      color: $error;
    }
  }
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -70px;
}

.footer {
  left: auto;
  right: auto;
  background-color: $white-grey;
  background-image: url(../images/rainbow.png);
  background-repeat: repeat-x;
  padding: 25px 20px;

  .summary {
    color: $info-grey;
    float: left;
    font-size: 14px;
    line-height: 56px;
    display: inline-block;

    i {
      font-size: 24px;
      vertical-align: middle;
      margin-top: -6px;
      margin-right: 6px;
    }
  }

  .links-container {
    display: inline-block;
    float: right;

    .links {
      display: block;
      text-align: right;
      right: 0;
      padding-left: 0;

      li {
        display: inline-block;

        &:last-child a {
          margin-right: 0;
        }

        a {
          margin-right: 20px;
          font-size: 13px;
          color: $info-grey;
          @include transition(color 200ms ease-in-out);

          &:hover {
            color: $stellar-blue;
            text-decoration: none;
          }
        }
      }
    }
  }
}

.client-section {
  padding-left: 20px;
  padding-right: 20px;

  &:not(:last-child){
    border-bottom: $grey-border-bottom;
  }
}

@media (min-width: $phone-width) {
  .client-section {
    padding-left: 105px;
    padding-right: 105px;
  }

  .client-nav ul > div {
    padding: 20px 105px 15px 105px;
  }
}

@media (min-width: $mobile-width) {

  .footer {
    padding: 25px 105px;

    .links-container {
      display: inline-block;
      line-height: 56px;

      .links {
        display: inline-block;

        li:last-child a {
          margin-right: 20px;
        }
      }
    }
  }
}

@media (min-width: 1440px) {
  body,
  .client-nav {
    width: 1440px;
    margin: 0 auto;
  }
}