$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

@import "color-palette.scss";

@import "alpha.scss";
@import "login.scss";
@import "dashboard.scss";
@import "registration.scss";
@import "transactionHistory.scss";
@import "reward-pane.scss";

body {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 89px;
  padding-bottom: 20px;
  color: $dark-grey;
}

.stellar-form {
  margin-top: 50px;

  .form-group {
    margin-top: 25px;
    margin-bottom: 45px;

    label {
      font-size: 15px;
      line-height: 42px;
    }

    input {
      height: 42px;
      border-radius: 3px;
      color: $dark-grey;

      &:focus {
        box-shadow: none;
        border-color: $stellar-blue;

        + i {
          color: $stellar-blue;
        }
      }
    }

    .alert {
      color: $error;
      padding: 0;
      margin-bottom: 0;
      line-height: 42px;
      height: 42px;

      ul {
        padding-left: 15px;

        li {
          list-style-type: none;
        }
      }
    }

    button {
      width: 100%;
    }
  }
}

.stellar-button {
  height: 45px;
  font-weight: bold;
  font-size: 16px;
  color: $dark-grey;
  background-color: $white-grey;
  border-bottom-color: $grey;
  box-shadow: 0 -1px 0 0 $light-grey inset;
  @include transition(border-color 200ms ease-in-out,
                      background-color 200ms ease-in-out,
                      color 200ms ease-in-out);

  &:hover {
    border-color: $stellar-blue;
    background-color: $white-grey;
    color: $stellar-blue;
  }

  &:focus {
    outline: none;
    background-color: $white-grey;
    color: $dark-grey;

    &:hover {
      color: $stellar-blue;
    }
  }
}

.right-inner-addon {
  position: relative;
}
.right-inner-addon input {
  padding-right: 30px;
}
.right-inner-addon i {
  position: absolute;
  right: 2px;
  padding: 10px 12px;
  pointer-events: none;
  font-size: 17px;
  color: rgba($grey, 0.5);
}

.ng-cloak, .ng-hide {
  display: none;
}

.client-nav {
  width: 65%;
  left: auto;
  right: auto;

  ul {
    font-size: 15px;

    a {
      margin-top: 3px;
      padding: 7px 24px;
    }

    .sign-up {
      border: 1px solid $grey-border;
    }
  }

  & > div {
    padding: 20px 105px 15px 105px;
    border-top: 3px solid $stellar-blue;
    border-bottom: 1px solid $grey-border;
    background-color: $grey-background;
  }

  .navbar-brand {
    color: #09B5E5;
    font-size: 24px;
    font-weight: bold;
  }
}

.client-container {
  > div {
    > .title {
      font-size: 20px;
      padding-top: 15px;
      padding-bottom: 20px;
      margin-top: 5px;
    }

    > * {
      padding: 0 105px;
      border-bottom: $grey-border-bottom;
    }
  }
}

.glyphicon {
  font-size: 12pt;
  padding: 12px 12px;
  color: rgba($grey, 0.5);
  @include transition(color 200ms ease-in-out);

  &.glyphicon-remove {
    color: red;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.spin {
  @include transform-origin(51% 48%);
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: spin;
}

.input-icon-wrapper {
  position: relative;

  .glyphicon {
    font-size: 10pt;
    padding: 14px 12px;
    position: absolute;
    right: 0px;
  }

  input {
    padding-right: 30px;
  }
}