$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

$tooltip-max-width: 400px;

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

$phone-width: 768px;
$mobile-width: 992px;

@import "color-palette.scss";
@import "fonts.scss";
@import "forms.scss";
@import "icons.scss";
@import "animation.scss";

@import "login.scss";
@import "dashboard.scss";
@import "registration.scss";
@import "browser_unsupported.scss";
@import "password.scss";
@import "transactionHistory.scss";
@import "reward-container.scss";
@import "pane.scss";
@import "modalStatus.scss";
@import "flash-message.scss";
@import "settings.scss";
@import "toggle.scss";
@import "news.scss";
@import "footer.scss";

body {
  height: 100%;
  width: 100%;
  color: $dark-grey;
  font-family: $clear-sans, sans-serif, "Comic Sans MS", "Comic Sans";
  font-weight: $medium-weight;
}

.app-wrapper{
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}



.right-inner-addon {
  position: relative;
}
.right-inner-addon input {
  padding-right: 30px;
}
.right-inner-addon i {
  position: absolute;
  right: 2px;
  padding: 10px 12px;
  pointer-events: none;
  font-size: 17px;
  color: $info-grey;
}

.ng-cloak, .ng-hide {
  display: none;
}

.client-nav {
  margin-bottom: 0;
  border: 0;
  border-top: 3px solid $stellar-blue;
  border-bottom: 1px solid $grey-border;
  background-color: $grey-background;
  border-radius: 0;

  ul {
    font-weight: $medium-weight;
    font-size: 15px;

    a {
      line-height: 1em;
      margin-top: 3px;
      padding: 7px 24px;
      @include transition(color 200ms ease-in-out);

      .glyphicon {
        opacity: 0.5;
        font-size: 0.8em;
        @include transition(opacity 200ms ease-in-out);
      }

      &:hover {
        color: $stellar-blue !important;
        .glyphicon {
          opacity: 1;
        }
      }

    }

    .sign-up {
      border: 1px solid $grey-border;
    }
  }

  .client-inner-nav {
    padding-top: 20px;
    padding-bottom: 15px;
    background: none;
  }

  .navbar-brand {
    color: #09B5E5;
    font-weight: $heavy-weight;
    font-size: 26px;

    &:hover {
      color: #09B5E5;
    }
  }
}

.client-container {
  -webkit-box-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
  > div {
     .title {
      font-size: 21px;
      padding-top: 20px;
    }
  }
}

.glyphicon {
  font-size: 12pt;
  color: $info-grey;
  @include transition(color 200ms ease-in-out);

  &.glyphicon-remove {
    color: $error;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.spin {
  @include transform-origin(51% 48%);
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: spin;
}

.input-icon-wrapper {
  position: relative;

  .glyphicon,
  .icon {
    font-size: 10pt;
    padding: 14px 12px;
    position: absolute;
    right: 0px;
    top: 0px;
  }

  input {
    padding-right: 30px;
  }
}

.pane-close {
  float: right;
  font-size: 16px;
  cursor: pointer;
  font-weight: $book-weight;
  color: $info-grey;
  height: 50px;
  line-height: 50px;

  @include transition(color 200ms ease-in-out);

  i {
    font-size: 26px;
    margin-top: 5px;
    margin-left: 8px;
  }

  span, i {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }

  &:hover {
    color: $error;

    i {
      color: $error;
    }
  }
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -70px;
}

.client-section {

  &:not(:last-child){
    border-bottom: $grey-border-bottom;
  }
}