$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

$tooltip-max-width: 400px;

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

$phone-width: 768px;
$mobile-width: 992px;

@import "color-palette.scss";
@import "fonts.scss";
@import "icons.scss";
@import "animation.scss";

@import "login.scss";
@import "dashboard.scss";
@import "registration.scss";
@import "browser_unsupported.scss";
@import "password.scss";
@import "transactionHistory.scss";
@import "reward-container.scss";
@import "pane.scss";
@import "modalStatus.scss";
@import "flash-message.scss";
@import "settings.scss";
@import "toggle.scss";
@import "news.scss";
@import "footer.scss";

body {
  height: 100%;
  width: 100%;
  color: $dark-grey;
  font-family: $clear-sans, sans-serif, "Comic Sans MS", "Comic Sans";
  font-weight: $medium-weight;
}

.app-wrapper{
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}

.stellar-form {
  margin-top: 0;

  .form-group {
    margin-top: 0;
    margin-bottom: 5px;

    .errors {
      height: 40px;

      .tip {
        width: 100%;
        @media (min-width: $screen-sm-min) {
          width: auto;
        }
        margin-left:15px;
        margin-right: 15px;
        display: inline;
        position: absolute;
        left: 0px;
        bottom: 8px;
        font-weight: $heavy-weight;
        font-size: 14px;
        background-color: $error;
        color: white;
        line-height: 20px;
        padding: 4px 12px;
        border-radius: 2px;
        @include transition(opacity 200ms ease-in-out);

        &:empty {
          opacity: 0;
        }

        &:before {
          border: solid;
          border-color: $error transparent;
          border-width: 6px 6px 0 6px;
          bottom: -6px;
          content: "";
          position: absolute;
        }

        &.success {
          background-color: $success;

          &:before {
            border-color: $success transparent;
          }
        }
      }
    }

    label {
      font-weight: $heavy-weight;
      font-size: 15px;
      line-height: 42px;
    }

    input[type="text"],
    input[type="password"] {
      height: 42px;
      border-radius: 2px;
      color: $dark-grey;

      &:focus {
        box-shadow: none;
        border-color: $stellar-blue;

        + i {
          color: $stellar-blue;
        }
      }

      &.input-error {
        border-color: $error;

        &:focus {
          border-color: $error;

          + i {
            color: $error;
          }
        }
      }
    }

    .tip {
      font-weight: $book-weight;
      font-size: 14px;
      color: $info-grey;
      line-height: 42px;
    }

    .info {
      padding-left: 0;

      .status {
        width: 40px;
        height: 40px;

        &.glyphicon,
        &.icon {
          padding: 12px 12px;
        }

        &.glyphicon-none:before,
        &.icon-none:before {
          content: "\e013";
          opacity: 0;
        }
      }
    }

    button {
      width: 100%;
      margin-top: 30px;
      margin-bottom: 40px;
      font-weight: $heavy-weight;
      font-size: 17px;
    }
  }

  .form-control[disabled],
  .form-control[readonly],
  fieldset[disabled] .form-control {
    cursor: text;
    background-color: white;
  }
}

.stellar-button, .btn-stellar {
  height: 45px;
  font-weight: $heavy-weight;
  font-size: 17px;
  color: black;
  background-color: $white-grey;
  border-bottom-color: $grey;
  border-radius: 2px;
  box-shadow: 0 -1px 0 0 rgba(black, 0.1) inset;
  @include transition(border-color 200ms ease-in-out,
                      background-color 200ms ease-in-out,
                      color 200ms ease-in-out,
                      box-shadow 200ms ease-in-out);

  i {
    color: $grey;
    @include transition(color 200ms ease-in-out);
  }

  &:hover {
    border-color: $stellar-blue;
    background-color: $stellar-blue;
    border-bottom-color: $dark-grey;
    color: white;
    box-shadow: 0 -1px 0 0 rgba(black, 0) inset;

    i {
      color: white;
    }
  }

  &:focus {
    outline: none;
    background-color: $white-grey;
    color: black;

    &:hover {
      color: white;
      background-color: $stellar-blue;
    }
  }

  &.cancel {
    background-color: $light-grey;

    &:hover {
      border-color: $error;
      color: $error;

      i {
        color: $error;
      }
    }

    &:focus {
      outline: none;

      &:hover {
        color: $error;
      }
    }
  }
}

.right-inner-addon {
  position: relative;
}
.right-inner-addon input {
  padding-right: 30px;
}
.right-inner-addon i {
  position: absolute;
  right: 2px;
  padding: 10px 12px;
  pointer-events: none;
  font-size: 17px;
  color: $info-grey;
}

.ng-cloak, .ng-hide {
  display: none;
}

.client-nav {
  margin-bottom: 0;
  border: 0;
  border-top: 3px solid $stellar-blue;
  border-bottom: 1px solid $grey-border;
  background-color: $grey-background;
  border-radius: 0;

  ul {
    font-weight: $medium-weight;
    font-size: 15px;

    a {
      margin-top: 3px;
      padding: 7px 24px;
      @include transition(color 200ms ease-in-out);

      &:hover {
        color: $stellar-blue !important;
      }
    }

    .sign-up {
      border: 1px solid $grey-border;
    }
  }

  .client-inner-nav {
    padding-top: 20px;
    padding-bottom: 15px;
    background: none;
  }

  .navbar-brand {
    color: #09B5E5;
    font-weight: $heavy-weight;
    font-size: 26px;

    &:hover {
      color: #09B5E5;
    }
  }
}

.client-container {
  -webkit-box-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
  > div {
     .title {
      font-size: 21px;
      padding-top: 20px;
    }
  }
}

.glyphicon {
  font-size: 12pt;
  color: $info-grey;
  @include transition(color 200ms ease-in-out);

  &.glyphicon-remove {
    color: $error;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.spin {
  @include transform-origin(51% 48%);
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: spin;
}

.input-icon-wrapper {
  position: relative;

  .glyphicon,
  .icon {
    font-size: 10pt;
    padding: 14px 12px;
    position: absolute;
    right: 0px;
    top: 0px;
  }

  input {
    padding-right: 30px;
  }
}

.pane-close {
  float: right;
  font-size: 16px;
  cursor: pointer;
  font-weight: $book-weight;
  color: $info-grey;
  height: 50px;
  line-height: 50px;

  @include transition(color 200ms ease-in-out);

  i {
    font-size: 26px;
    margin-top: 5px;
    margin-left: 8px;
  }

  span, i {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }

  &:hover {
    color: $error;

    i {
      color: $error;
    }
  }
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -70px;
}

.client-section {

  &:not(:last-child){
    border-bottom: $grey-border-bottom;
  }
}