$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

$tooltip-max-width: 400px;
$alert-border-radius: 2px;

@import "color-palette.scss";
// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

$phone-width: 768px;
$mobile-width: 992px;

@import "fonts.scss";
@import "forms.scss";
@import "icons.scss";
@import "animation.scss";

@import "navigation.scss";
@import "login.scss";
@import "dashboard.scss";
@import "registration.scss";
@import "browser_unsupported.scss";
@import "password.scss";
@import "transactionHistory.scss";
@import "reward-container.scss";
@import "pane.scss";
@import "modalStatus.scss";
@import "flash-message.scss";
@import "settings.scss";
@import "toggle.scss";
@import "news.scss";
@import "invite.scss";
@import "footer.scss";
@import "tooltip.scss";
@import "trading.scss";

body {
  height: 100%;
  width: 100%;
  color: $dark-grey;
  font-family: $font-family-sans-serif;
  font-weight: $medium-weight;
}

a {
    cursor: pointer;
}

.app-wrapper{
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}

.ng-cloak, .ng-hide {
  display: none;
}

.client-container {
  -webkit-box-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
   .title {
    font-size: 21px;
    padding-top: 20px;
  }
}



.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -70px;
}

.client-section {
  h1.title {
    position: relative;

    .link-dashboard {
      position: absolute;
      right: 0;
      font-size: 14px;
    }
  }

  &:not(:last-child){
    border-bottom: $grey-border-bottom;
  }
}