.modalStatus {
  font-weight: $avenir-medium;
  padding-bottom: 45px;
}

// child components

.modalStatus-title {
  font-size: 35px;
  text-align: center;
  line-height: 60px;
}

.modalStatus-icon {
  font-size: 45px;
  text-align: center;
  display: block;
  line-height: 60px;
}

.modalStatus-info {
  font-weight: $avenir-book;
  font-size: 20px;
  text-align: center;
  line-height: 60px;
}

.modalStatus-btn {
  margin: 0 auto;
  margin-top: 20px;
  width: 300px;
  display: block;
}

// variants

.error-modalStatus {
  .modalStatus-title {
    color: $error
  }
}