.modalStatus {
  font-weight: $medium-weight;
  padding-bottom: 45px;
}

// child components

.modalStatus-title {
  font-size: 35px;
  text-align: center;
  line-height: 60px;
}

.modalStatus-icon {
  font-size: 49px;
  margin-top: 30px;
  text-align: center;
  display: block;
  line-height: 60px;
}

.modalStatus-info {
  font-weight: $book-weight;
  font-size: 20px;
  text-align: center;
  line-height: 60px;
}

.modalStatus-btn {
  margin: 0 auto;
  margin-top: 20px;
  width: 300px;
  display: block;

  i {
    margin-right: 6px;
    font-size: 22px;
    vertical-align: middle;
  }
}

// variants

.error-modalStatus {
  .modalStatus-title {
    color: $error
  }
}