.plus {
  border: 1px solid fade_out($grey, 0.5);
  border-radius: 100%;
  width: 1.5em;
  height: 1.5em;
  display: inline-block;
  line-height: 1.3em;
  background: #fff;
}

.gateway-form {
  padding-bottom: 25px;
  p {
    margin: 15px 0 15px;
  }
  input[type="text"] {
    width: 100%;
  }
  label{
    padding-right: 15px;
  }
  button {
    margin-top: 15px;
  }
  @media (min-width: $mobile-width) {
    input[type="text"] {
      width: 400px;
    }
    button {
      margin-top: 0;
    }
  }
}

.dash-links {
  border-top: 1px solid $grey-border;
  width: 80%;
  margin: 8px 0 8px 10%;
  padding-top: 10px;

  a {
    display: block;
    margin: 0 0 0 0;
    color: $grey;
    @include transition(color 200ms ease-in-out);
  }

  @media (min-width: $phone-width) {
    margin-bottom: 0;
  }
}

.manage-currency-link {
  color: $grey;
  i {
    font-size: 0.8em;
    margin-right: 5px;
    color: fade_out($grey, 0.5);
  }
  &:hover {
    color: $brand-primary;
    text-decoration: none;
    i {
      color: fade_out($grey, 0.3);
    }
  }

}

.currencies-list {
  padding: 0;
  margin: 15px 0 0 0;
  overflow: hidden;
  width: 100%;
}

.currency-box {
  display: block;
  float: left;
  border: 1px solid $grey-border;
  width: 100%;
  margin-right: 15px;
  margin-bottom: 15px;
  
  padding: 8px;
  border-radius: 3px;
  height: auto;

  button {
    float: right;
    
  }

  &.add-currency-box {
    cursor: pointer;
    @include transition(border-color 200ms ease-in-out,
                        color 200ms ease-in-out);

    &:hover {
      border-color: $brand-primary;
      color: $brand-primary;

      .glyphicon-cog {
        color: rgba($grey, 1);
      }
    }

    .manage-currency-link {
      position: relative;
    }

    .glyphicon-cog {
      top: 3px;
      color: rgba($grey, 0.5);
      @include transition(color 200ms ease-in-out);
    }
  }

  h5 {
    float: left;
    font-size: 24px;
    font-weight: $heavy-weight;
    margin: 0 5px 0 0;
  }

  p {
    float: left;
    
    color: $grey;
    font-weight: $book-weight;
    
  }

  @media (min-width: $phone-width) {
    width: 175px;
    height: 100px;
    text-align: center;
    padding: 15px;

    button {
      float: none;
      margin-top: 15px;
    }

    h5, p {
      float: none;
      margin: 0;
    }

    p {
      margin: 0;
    }

    .manage-currency-link {
      top: 50%;
      transform: translateY(-50%);
    }

  }
}

.currency-issuer {
  margin: 0;
  font-size: 11px;
  word-wrap:break-word;
  clear: both;
  @media (min-width: $phone-width) {

  }
}

.gateway-list {
  ul {
    list-style: none;
    padding: 0;
  }

  li {
    border-bottom: 1px solid $grey-border;
    padding: 5px 0 10px;
  }
}

.gateways {
  h3 {
    color: $grey;
    font-size: 16px;
    text-transform: uppercase;
  }
}

.manage-currencies-container {
  padding-bottom: 15px;
}