.plus {
  border: 1px solid fade_out($grey, 0.5);
  border-radius: 100%;
  width: 1.5em;
  height: 1.5em;
  display: inline-block;
  line-height: 1.3em;
  background: #fff;
}

.gateway-form {
  padding-bottom: 25px;

  p {
    margin: 5px 0 15px;
  }

  form {
    margin-top: 35px;
  }
}

.dash-links {
  border-top: 1px solid $grey-border;
  width: 80%;
  margin: 8px 0 0 10%;
  padding-top: 5px;

  a {
    display: block;
    margin: 5px 0 0 0;
    color: $grey;
    @include transition(color 200ms ease-in-out);

    &:hover {
      color: $stellar-blue;
      text-decoration: none;
    }
  }

  .plus {
    margin-right: 5px;
  }
}

.currencies-list {
  padding: 0;
  margin: 15px 0;
  overflow: hidden;
  width: 100%;
}

.currency-box {
  display: block;
  float: left;
  border: 1px solid $grey-border;
  width: 175px;
  margin-right: 15px;
  margin-bottom: 15px;
  text-align: center;
  padding: 15px 15px;
  border-radius: 3px;
  height: 100px;

  .account-container {
    font-size: 10px;
    overflow: hidden;
  }

  &.add-currency-box {
    cursor: pointer;
    @include transition(border-color 200ms ease-in-out,
                        color 200ms ease-in-out);

    &:hover {
      border-color: $stellar-blue;
      color: $stellar-blue;

      .glyphicon-cog {
        color: rgba($grey, 1);
      }
    }

    .add-currency-link {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }

    .glyphicon-cog {
      top: 3px;
      color: rgba($grey, 0.5);
      @include transition(color 200ms ease-in-out);
    }
  }

  h5 {
    font-size: 24px;
    font-weight: $heavy-weight;
    margin: 0;
  }

  p {
    margin: 0;
    color: $grey;
    font-weight: $book-weight;
  }
}

.gateway-list {
  ul {
    list-style: none;
    padding: 0;
  }

  li {
    border-bottom: 1px solid $grey-border;
    padding: 5px 0 10px;
  }
}