$status-strip-width: 8px;

.pane {
  padding: 0 40px;
  margin: 0 -40px;  // TODO: remove this when we no longer have the > * rule that sets padding
}

@media (min-width: $mobile-width) {
  .pane {
    padding: 0 105px;
    margin: 0 -105px;  // TODO: remove this when we no longer have the > * rule that sets padding
  }
}

.pane-error {
  border-bottom: $status-strip-width solid $error;
}

.pane-success {
  border-bottom: $status-strip-width solid $success;
}

.pane-in-progress {
  border-bottom: $status-strip-width solid $in-progress;
}


.pane-close {
  float: right;
  font-size: 16px;
  cursor: pointer;
  font-weight: $avenir-book;
  color: $info-grey;
  height: 70px;
  line-height: 70px;

  @include transition(color 200ms ease-in-out);

  i {
    font-size: 26px;
    margin-top: 5px;
    margin-left: 8px;
  }

  span, i {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }

  &:hover {
    color: $error;

    i {
      color: $error;
    }
  }

}
