$status-strip-width: 8px;

.pane-error {
  border-bottom: $status-strip-width solid $error;
}

.pane-success {
  border-bottom: $status-strip-width solid $success;
}

.pane-in-progress {
  border-bottom: $status-strip-width solid $in-progress;
}
