.password-container {
  .password-strength {
    display: inline-block;
    width: 66%;

    .block1,
    .block2,
    .block3,
    .block4 {
      @include transition(background-color 200ms ease-in-out, opacity 200ms ease-in-out);
      margin-right: 2px;
      background-color: white;
    }

    &.null {
      .block1,
      .block2,
      .block3,
      .block4 {
        opacity: 0;
      }
    }

    &.level1 {
      .block1 {
        background-color: $error;
      }
    }

    &.level2 {
      .block1,
      .block2 {
        background-color: orange;
      }
    }

    &.level3 {
      .block1,
      .block2,
      .block3 {
        background-color: $success;
      }
    }

    &.level4 {
      .block1,
      .block2,
      .block3,
      .block4 {
        background-color: $brand-primary;
      }
    }

    .block1,
    .block2,
    .block3,
    .block4 {
      display: inline-block;
      padding: 0;
      width: 22%;
      height: 4px;
    }
  }

  .description {
    display: inline-block;
    float: right;
    font-size: 11px;
    color: $grey;
    margin-top: 5px;
  }
}