.receive-pane {
  .pane-close {
    height: 70px;
    line-height: 70px;
  }

  .form-group {
    div {
      padding: 0;
    }

    .username-title,
    .address-title {
      color: $grey;
    }

    .receive-username {
      font-size: 24px;

      i {
        font-size: 18px;
        margin-right: 15px;
        color: $grey;
      }
    }

    &.info-row {
      padding-bottom: 30px;
      border-bottom: 1px solid $grey-border;
    }

    .show-address {
      color: #B6BAB9;
      font-weight: $book-weight;
      cursor: pointer;
      @include transition(color 200ms ease-in-out);

      &:hover {
        color: $brand-primary;
      }
    }

    &.address-row {
      i {
        font-size: 18px;
        margin-right: 15px;
        color: $grey;
        display: inline-block;
        vertical-align: middle;
        margin-top: 4px;
      }

      .address {
        display: inline-block;
        vertical-align: middle;
        margin-top: 6px;
        color: $grey;
      }
    }
  }
}