@import "poptip.scss";

$light-blue: #4679bd;
$input-border-color: #cccccc;
$input-border-focus-color: #66afe9;

.registration {
  padding-bottom: 80px;
  .terms .tip {
    margin-top: 20px;
    margin-bottom: 10px;

    a {
      color: $stellar-blue;
    }
  }

  .input-icon-wrapper {
    .icon {
      color: #D8D8D8;
      @include transition(color 200ms ease-in-out);
    }

    .icon-user {
      font-size: 16px;
      padding: 10px 12px;
      color: #C8C8C8
    }
  }

  .form-group.terms {
    margin-bottom: 0;
  }
}
