@import "poptip.scss";

$light-blue: #4679bd;
$input-border-color: #cccccc;
$input-border-focus-color: #66afe9;

.registration {
  .terms .tip {
    margin-top: 20px;
    margin-bottom: 10px;

    a {
      color: $stellar-blue;
    }
  }

  .form-group.terms {
    margin-bottom: 0;
  }
}
