.reward-list {
  padding-left: 0;
  margin-left: -110%;
  @include transition(margin-left 350ms ease-in-out);

  &.active {
    margin-left: 0%;
  }

  li {
    margin: 3px 0;
    padding: 0 0;
    font-weight: $medium-weight;
    font-size: 20px;
    list-style-type: none;
    cursor: pointer;
    position: relative;
    overflow: visible;
    white-space: nowrap;

    @include transition(border-color 350ms ease-in-out,
            color 350ms ease-in-out,
            background-color 350ms ease-in-out);

    i {
      display: inline-block;
      vertical-align: middle;
      padding-right: 20px;
      font-size: 24px;
      @include transition(color 200ms ease-in-out);
    }

    &:not(.sent) {
      background-color: white;
      border: 1px solid rgba($stellar-blue, 0);

      &:first-child {
        border: 1px solid rgba($stellar-blue, 1);
        background: white url(../images/stroopy.gif) no-repeat 75px center;
        background-size: 35px;
        i {
          float: left;
          padding-right: 65px;
        }
        .reward-title {
          
        }
        .reward-step {
          color: #fff;
          text-transform: uppercase;
          width: 100%;
          display: block;
          font-size: 12px;
          
          .step-label {
            background: $stellar-blue;
            padding: 0 3px 2px;
            border-radius: 3px;
          }

        }
      }

      i {
        color: $grey;
      }

      &:hover {
        border: 1px solid rgba($stellar-blue, 1);

        i {
          color: $stellar-blue;
        }
      }
    }

    &.sent .reward-body {
      background-color: #F9F9F9;
      color: #A0ABB1;
      cursor: default;

      .subtitle {
        color: #C0CBD1
      }

      span {
        text-decoration: line-through;
      }
    }

    .reward-body {
      padding: 10px 30px;
      height: 83px;

      .subtitle {
        color: $info-grey;
        font-weight: $book-weight;
        font-size: 17px;
        display: block;
        margin-left: 51px;
      }
    }
  }
  @media (max-width: $phone-width) {
    li {
      .reward-body {
        padding: 10px;
        .subtitle {
          margin-left: 35px;
        }
      }
      i{
        padding-right: 5px;
      }
    }
  }
}

@media (min-width: $mobile-width) {
  .reward-list li .reward-body {
    padding: 22px 30px;

    .subtitle {
      display: inline-block;
      margin-left: 0;
    }
  }
}
