@import "reward-progress.scss";
@import "reward-list.scss";
@import "reward-page.scss";

.reward-container {
  background-color: #F4F5F7;
  color: $dark-grey;

  .reward-container-title {
    font-weight: $avenir-heavy;
    font-size: 20px;
    height: 50px;
    line-height: 50px;

    i {
      margin: 0 15px;
      font-size: 24px;
      display: inline-block;
      vertical-align: middle;
      color: $grey;
    }
  }

  .reward-pane {
    height: 382px;
    position: relative;
    overflow: hidden;
    padding: 1px;
  }

  .rewards-incomplete {
    padding-bottom: 30px;
  }

  .rewards-complete {
    display: inline-block;
    position: relative;
    width: 100%;
    text-align: center;
    padding: 28px 0;
    background-color: #DCF2F8;
    border: 1px solid #1CB4E5;
    border-radius: 2px;
    margin: 30px 0;

    .rewards-complete-badge {
      color: #1CB4E5;
      font-size: 32px;
      vertical-align: middle;
      margin-right: 16px;
      top: 0;
    }

    .close-rewards-complete {
      color: #1CB4E5;
      font-size: 12px;
      position: absolute;
      top: 0;
      right: 0;
      padding: 6px;
      cursor: pointer;
    }

    .rewards-complete-message {
      display: inline-block;
      vertical-align: middle;
      color: #1CB4E5;
      font-size: 22px;
      margin-top: 2px;
    }
  }
}
