.reward-pane {
  background-color: #F4F5F7;

  .rewards {
    padding-left: 0;

    & li {
      margin: 3px;
      padding: 28px 30px;
      font-size: 20px;
      color: $grey-text;
      list-style-type: none;
      cursor: pointer;
      border: 1px solid rgba($stellar-blue, 0);
      @include transition(border-color 350ms ease-in-out);

      &.incomplete,
      &.pending {
        background-color: white;

        &:hover {
          border: 1px solid rgba($stellar-blue, 1);
        }
      }

      &.complete {
        background-color: #F9F9F9;

        &:hover {
          border: 1px solid rgba($grey-border, 1);
        }
      }

      i {
        padding-right: 20px;
      }
    }
  }
}