@import "fbconnect.scss";

.reward-page {
  height: 371px;
  width: 100%;
  background-color: white;
  position: absolute;
  padding: 20px 20px;
  top: 4px;
  left: 110%;
  @include transition(left 350ms ease-in-out);

  &.active {
    left: 0%;
  }

  &.error {
    border-bottom: 6px solid $error;
  }

  .reward-page-title {
    font-weight: $avenir-heavy;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    margin-bottom: 42px;

    i {
      margin: 0 15px;
      font-size: 24px;
    }
  }

  .content {
    margin: 0 15px;
    display: none;

    &.active {
      display: inherit;
    }

    &.sent,
    &.awaiting-payout {
      text-align: center;

      .body {
        font-size: 36px;
        color: $happy;
      }

      .stellar-button {
        margin-top: 20px;
        width: 260px;
        background-color: white;
        color: black;
      }
    }

    .body,
    .info {
      font-weight: $avenir-medium;
      font-size: 16px;
      text-align: center;
    }

    .body {
      margin-top: 10px;
    }

    .verify-email {
      position: relative;
      overflow: hidden;
      height: 165px;

      .add-email-item {
        left: -110%;
      }

      .verify-email-item {
        left: 110%;
      }

      .add-email-item,
      .verify-email-item {
        position: absolute;
        width: 100%;
        top: 5px;
        @include transition(left 350ms ease-in-out);

        &.active {
          left: 0%;
        }

        form .form-group {
          input {
            display: inline-block;
            margin-bottom: 20px;
          }

          button {
            margin: 0 0;

            &:not(:hover) {
              color: #474747;
            }

            &.cancel {
              width: 25%;
            }

            &.submit {
              width: calc(75% - 20px);
              float: right;
            }
          }

          .loading {
            display: inline-block;
            text-align: center;
            width: calc(75% - 20px);
            float: right;
          }
        }
      }
    }

    .send-stellar {
      margin-top: 40px;
      text-align: center;

      .stellar-button {
        width: 300px;
      }
    }
  }

  .error {
    text-align: center;

    .body {
      color: $error;
      font-size: 35px;
      margin-bottom: 20px;
    }

    .info {
      font-size: 22px;
      margin-bottom: 20px;
    }

    .errorButton button {
      width: 270px;
      margin-top: 20px;
    }
  }
}

@media (min-width: $mobile-width) {
  .reward-page {
    .reward-page-title {
      font-size: 20px;
    }

    .content{
      .body,
      .info {
        font-size: 20px;
      }
    }
  }
}