.rewardProgress {
  padding-left: 0;
  width: 100%;
  display: table;
  margin: 10px auto 30px auto;
  border: 1px solid $stellar-blue;
  background-color: white;
  border-radius: 31px;
  height: 34px;

  li {
    list-style-type: none;
    display: inline-block;
    height: 34px;
    line-height: 28px;
    width: 25%;
    text-align: center;

    &.sent {
      background-color: #DBF2F8;
      color: $stellar-blue;
    }

    &:first-child {
      border-top-left-radius: 31px;
      border-bottom-left-radius: 31px;
    }

    &:last-child {
      border-top-right-radius: 31px;
      border-bottom-right-radius: 31px;
    }

    &:not(:last-child) {
      border-right: 1px solid $light-grey;
    }

    .icon {
      display: inline-block;
      padding-top: 3px;
    }
  }
}