@import "fbconnect.scss";

.reward-page {
    height: 366px;
    width: 100%;
    background-color: white;
    position: absolute;
    padding: 20px 20px;
    top: 4px;
    left: 110%;
    @include transition(left 350ms ease-in-out);

    &.active {
      left: 0%;
    }

    &.error {
      border-bottom: 6px solid $error;
    }

    .reward-page-close {
      float: right;
      font-size: 16px;
      cursor: pointer;
      font-weight: $avenir-book;
      color: $info-grey;
      height: 50px;
      line-height: 50px;

      @include transition(color 200ms ease-in-out);

      i {
        font-size: 26px;
        margin-top: 5px;
        margin-left: 8px;
      }

      span, i {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
      }

      &:hover {
        color: $error;

        i {
          color: $error;
        }
      }
    }

    .reward-container-title {
      font-weight: $avenir-heavy;
      font-size: 20px;
      height: 50px;
      line-height: 50px;

      i {
        margin: 0 15px;
        font-size: 20px;
      }
    }

    .content {
      margin: 0 57px;
      display: none;

      &.active {
        display: inherit;
      }

      &.sent,
      &.awaiting-payout {
        text-align: center;

        .body {
          font-size: 36px;
          color: $happy;
        }

        .stellar-button {
          margin-top: 20px;
          width: 260px;
          background-color: white;
          color: black;
        }
      }

      .body,
      .info {
        font-weight: $avenir-medium;
        font-size: 20px;
        text-align: center;
        line-height: 70px;
      }

      .body {
        margin-top: 10px;
      }

      .verify-email {
        position: relative;
        overflow: hidden;
        height: 152px;

        .add-email-item {
          left: -110%;
        }

        .verify-email-item {
          left: 110%;
        }

        .add-email-item,
        .verify-email-item {
          position: absolute;
          width: 100%;
          top: 5px;
          @include transition(left 350ms ease-in-out);

          &.active {
            left: 0%;
          }

          form .form-group {
            input {
              margin-bottom: 20px;
            }

            button {
              margin: 0 0;

              &:not(:hover) {
                color: #474747;
              }

              &.cancel {
                width: 25%;
              }

              &.submit {
                width: calc(75% - 20px);
                float: right;
              }
            }

            .loading {
              display: inline-block;
              text-align: center;
              width: calc(75% - 20px);
              float: right;
            }
          }
        }
      }

      .send-stellar {
        margin-top: 40px;
        text-align: center;

        .stellar-button {
          width: 300px;
        }
      }
    }

    .error {
      text-align: center;

      .body {
        color: $error;
        font-size: 35px;
      }

      .info {
        font-size: 22px;
      }

      .errorButton button {
        color:#000000;
        width: 270px;
        margin-top: 20px;
      }
    }
  }