.reward-list {
  padding-left: 0;
  margin-left: -110%;
  @include transition(margin-left 350ms ease-in-out);

  &.active {
    margin-left: 0%;
  }

  li {
    margin: 3px 0;
    padding: 0 0;
    font-weight: $medium-weight;
    font-size: 20px;
    list-style-type: none;
    cursor: pointer;
    position: relative;
    overflow: visible;
    white-space: nowrap;

    @include transition(border-color 350ms ease-in-out,
            color 350ms ease-in-out,
            background-color 350ms ease-in-out);

    i {
      display: inline-block;
      vertical-align: middle;
      padding-right: 20px;
      font-size: 24px;
      @include transition(color 200ms ease-in-out);
    }

    &:not(.sent) {
      background-color: white;
      border: 1px solid rgba($brand-primary, 0);

      &:first-child {
        border: 1px solid rgba($brand-primary, 1);
        background: white url(../images/stroopy.gif) no-repeat 40px 10px;
        background-size: 25px;
        i {
          float: left;
          padding-right: 65px;
          padding-right: 35px;
        }

        .subtitle {
          padding-left: 25px;
        }
        .reward-step {
          color: #fff;
          text-transform: uppercase;
          width: 100%;
          display: block;
          font-size: 11px;
          
          .step-label {
            background: $brand-primary;
            padding: 0 3px 1px;
            border-radius: 3px;
          }

        }

        @media (min-width: $phone-width) {
          background-position: 80px 10px;
          background-size: 35px; 
          i {
            padding-right: 75px;
          }
          .subtitle {
            padding-left: 50px;
          }
        }

        @media (min-width: $mobile-width) {
          background-position: 75px center;
          .subtitle {
            padding-left: 0px;
          }
        }
      }

      i {
        color: $grey;
      }

      &:hover {
        border: 1px solid rgba($brand-primary, 1);

        i {
          color: $brand-primary;
        }
      }
    }

    &.sent .reward-body {
      background-color: #F9F9F9;
      color: #A0ABB1;
      cursor: default;

      .subtitle {
        color: #C0CBD1
      }

      span {
        text-decoration: line-through;
      }
    }

    .reward-body {
      padding: 10px 30px;
      height: 83px;

      .subtitle {
        color: $info-grey;
        font-weight: $book-weight;
        font-size: 17px;
        display: block;
        margin-left: 51px;
      }
    }
  }
  @media (max-width: $phone-width) {
    li {
      .reward-title {
        font-size: 18px;
      }
      .reward-body {
        padding: 10px;
        .subtitle {
          margin-left: 35px;
        }
      }
      i{
        padding-right: 5px;
      }
    }
  }
}

@media (min-width: $mobile-width) {
  .reward-list li .reward-body {
    padding: 22px 30px;

    .subtitle {
      display: inline-block;
      margin-left: 0;
    }
  }
}
