.reward-pane {
  background-color: #F4F5F7;
  color: $dark-grey;
  padding-bottom: 30px !important;

  .title {
    margin-top: 0;
    font-size: 20px;
    padding: 24px 0;
  }

  .rewardProgress {
    padding-left: 0;
    display: table;
    margin: 10px auto 30px auto;
    border: 1px solid $stellar-blue;
    background-color: white;
    border-radius: 31px;

    li {
      list-style-type: none;
      display: inline-block;
      padding: 5px 70px;

      &.complete {
        background-color: #DBF2F8;
      }

      &:first-child {
        border-top-left-radius: 31px;
        border-bottom-left-radius: 31px;
      }

      &:last-child {
        border-top-right-radius: 31px;
        border-bottom-right-radius: 31px;
      }

      &:not(:last-child) {
        border-right: 1px solid $light-grey;
      }

      .glyphicon {
        top: 3px;
      }
    }
  }

  .rewards {
    padding-left: 0;

    li {
      margin: 3px;
      padding: 0 0;
      font-family: $avenir-medium;
      font-size: 20px;
      list-style-type: none;
      cursor: pointer;
      border: 1px solid rgba($stellar-blue, 0);
      position: relative;
      overflow: visible;
      @include transition(border-color 350ms ease-in-out,
                          color 350ms ease-in-out,
                          background-color 350ms ease-in-out);

      i {
        padding-right: 20px;
        font-size: 20px;
        @include transition(color 200ms ease-in-out);
      }

      &.incomplete,
      &.pending {
        background-color: white;

        i {
          color: $grey;
        }

        &:hover {
          border: 1px solid rgba($stellar-blue, 1);

          i {
            color: $stellar-blue;
          }
        }
      }

      &.complete {
        background-color: #F9F9F9;
        color: $info-grey;

        i {
          color: $info-grey;
        }

        &:hover {
          border: 1px solid rgba($grey, 0.5);
        }
      }

      .reward-body {
        padding: 28px 30px;
      }

      .pop-action {
        border: 1px solid #D0D0D0;
        border-radius: 3px;
        width: 450px;
        position: absolute;
        right: 50px;
        top: -10px;
        z-index: 99;
        cursor: default;
        box-shadow: 0 0 5px 2px rgba($grey, 0.2);
        @include transition(opacity 200ms ease-in-out);

        & > div {
          padding: 15px 35px;
        }

        &:before,
        &:after {
          content: "";
          position: absolute;
          border-top: 10px solid transparent;
          border-bottom: 10px solid transparent;
          top: 42px;
          left: 0;
          margin-left: -10px;
        }

        &:before {
          border-right: 10px solid #D0D0D0;
        }

        &:after {
          border-right: 10px solid #FFF6D5;
          padding-left: 2px;
          z-index: 1;
        }

        .pop-top {
          background-color: #FFF6D5;
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;

          .title {
            font-family: $avenir-heavy;
            padding-top: 10px;
            padding-bottom: 10px;
            font-size: 16px;
          }

          .message {
            font-family: $avenir-medium;
            font-size: 16px;
          }
        }

        .pop-bottom {
          background-color: white;
          border-bottom-left-radius: 3px;
          border-bottom-right-radius: 3px;

          .switch {
            display: inline-block;
            vertical-align: middle;
            margin-right: 16px;
            width: 66px;
            height: 16px;
            background-color: $light-grey;
            border: 1px solid $stellar-blue;
            border-radius: 50px;
            overflow: hidden;
            position: relative;
            cursor: pointer;

            .knob {
              width: 32px;
              top: -2px;
              left: 50%;
              height: 18px;
              background-color: white;
              position: absolute;

              &:before {
                content: "";
                border-left: 2px solid #FFF6D5;
                margin-left: 15px;
              }
            }
          }

          .info {
            font-size: 14px;
            color: $info-grey;
          }
        }
      }
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
   animation-duration: 200ms;
   animation-iteration-count: 1;
   animation-timing-function: ease-in-out;
   animation-name: fade-in;
 }

@keyframes fade-out {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-out {
  animation-duration: 200ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-name: fade-out;
}
