.send-pane {
  .title{
    margin-bottom: 25px;
  }


  form {

    input.form-control {
      font-size: 22px;
      height: auto;
    }

    .send-amount {

      i {
        margin-right: 15px;
        font-size: 12px;
        font-style: normal;
        top: 21px;
      }

      input[type="number"],
      input[type="text"],
      .dropdown-toggle {
        font-size: 24px;
        height: auto;
      }

      .dropdown-toggle {
        margin-bottom: 0;
      }

      .dropdown-menu {
        min-width: 320px;
        max-height: 300px;
        overflow-y: scroll;
        li {
          padding: 0;
          margin: 0;
        }
      }

      .tip {
        padding-top: 26px;
      }
    }

    .send-address {
      input[type="text"] {
        padding-right: 36px;
      }
      i {
        margin-right: 15px;
        top: 5px;
      }
    }

    .send-destination {
      .tip {
        padding-top: 5px;
      }
    }

     @media (min-width: $phone-width) {
        .send-amount {
          input[type="number"],
          input[type="text"],
          .dropdown-toggle {
            font-size: 48px;
            height: auto;
          }
          .dropdown-menu {
            min-width: 160px;
          }
        }
     }
  }

  .send-error p {
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    border: 1px solid $error;
    color: $error;
    border-radius: 2px;
  }

  .mode-confirm > div {
    text-align: center;
    border: 1px solid $grey-border;
    border-radius: 2px;
    margin: 0 auto 30px auto;
    max-width: 540px;
    padding: 30px 36px;

    .info {
      font-size: 20px;
      color: $grey;
    }

    .amount_feedback,
    .recipient-name {
      font-size: 46px;
      font-weight: $book-weight;
    }

    .recipient-address {
      width: 100%;
      padding: 10px 15px;
      margin-top: 15px;
      margin-bottom: 40px;
      border-radius: 2px;
      border: 1px solid rgba($grey, 0.3);
      background-color: rgba($light-grey, 0.4);

      + i {
        font-size: 16px;
        margin-top: 14px;
      }
    }

    button {
      height: 60px;
      width: 100%;
      color: white;
      background-color: #80D8BF;
      font-size: 25px;
      box-shadow: none;
      border-bottom-color: $stellar-blue;

      &:hover {
        background-color: $stellar-blue;
      }
    }
  }

  .change-button {
    width: 220px;
    margin: 0 auto 40px auto;
  }

  .errors .tip {
    right: -7px;
  }

  .result-success .modalStatus-icon {
    color: $success;
  }

  .pending,
  .mode-sending {
    text-align: center;

    .sending-rocket {
      display: block;
      margin: 50px auto;
    }
  }

  .currency-box {
    @media (min-width: $phone-width) {
        height: 140px;
    }
  }
}

.send-form-status {
  border-style: solid;
  border-width: 1px;
  border-color: $in-progress;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: lighten($in-progress, 50%);
}

// UGH:  due to the fact that we override padding on form inputs, thus
// destroying compatibility witht the bootstrap grid, we have to remove
// padding here as well
.send-form-status-container {
  padding: 0;
}

// since the destination tag description is huge, we'll remove the line height
#dest-tag-desc {
  line-height: normal;
}
