.send-pane {
  form > div {
    .send-amount {
      padding: 0;

      i {
        font-size: 12px;
        font-style: normal;
        top: 21px;
      }

      input {
        font-size: 48px;
        height: auto;
        padding-right: 50px;
      }

      + .tip {
        line-height: 82px
      }
    }

    .send-address {
      padding: 0;

      i {
        top: 5px;
      }

      input {
        font-size: 22px;
        height: auto;
        padding-right: 36px;
      }

      + .tip {
        line-height: 45px
      }
    }
  }

  .send-error p {
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    border: 1px solid $error;
    color: $error;
    border-radius: 2px;
  }

  .mode-confirm > div {
    text-align: center;
    border: 1px solid $grey-border;
    border-radius: 2px;
    margin: 40px auto 30px auto;
    width: 540px;
    padding: 30px 36px;

    .info {
      font-size: 20px;
      color: $grey;
    }

    .amount_feedback,
    .recipient-name {
      font-size: 46px;
      font-weight: $avenir-book;
    }

    .recipient-address {
      width: 100%;
      padding: 10px 15px;
      margin-top: 15px;
      margin-bottom: 40px;
      border-radius: 2px;
      border: 1px solid rgba($grey, 0.3);
      background-color: rgba($light-grey, 0.4);

      + i {
        font-size: 16px;
        margin-top: 14px;
      }
    }

    button {
      height: 60px;
      width: 100%;
      color: white;
      background-color: #80D8BF;
      font-size: 25px;
      box-shadow: none;
      border-bottom-color: $stellar-blue;

      &:hover {
        background-color: $stellar-blue;
      }
    }
  }

  .change-button {
    width: 220px;
    margin: 0 auto 40px auto;
  }

  .errors .tip {
    right: -7px;
  }

  .result-success .modalStatus-icon {
    color: $success;
  }
}
