.settings {
    .flash-message-container {
        padding: 25px 0 0 0;
        width: 100%;
    }
}

.settings > .settings-section {
    padding-top:30px;
    padding-bottom:30px;
}

.settings-section {
    .title {
        font-size: 18px;
        font-weight: bold;
        padding-bottom:15px;
    }

    .icon-col {
        width: 25px;
        display: inline-block;
        float: left;

        .icon-clock {
            display: inline-block;
            font-size: 16px;
            margin-top: 6px;
        }

        .glyphicon-trash {
            display: inline-block;
            font-size: 14px;
            margin-top: 2px;
        }
    }

    button[type="submit"] {
        float:left;
        margin:auto;
    }

    > .row {
        padding: 15px 0 15px 0;
        margin: 0;
        border-bottom: 1px solid fade_out($grey-border, 0.5);

        > div:first-child {
            padding-left: 0;
        }
    }

    .settings-control {

        .error-block {
            display:inline-block;
        }

        .verified-email-status {
            margin-left: 10px;
        }

        .icon-key {
            font-size: 9px;
        }

        .icon-email {
            font-size: 12px;
        }

        .warning-block {
            display: block;
            margin: 6px 0;
        }

        .warning-title {
            color: $error;
        }
    }

    .settings-label {
        display: inline-block;
    }

    .settings-control {
        display: inline-block;
    }

    input {
        margin-bottom: 15px;
    }

    .settings-cancel-button {
        margin-top: 12px;
    }

    .settings-confirm-button {
        width:100%;
    }

    .error-tip {
        .tooltip-inner {
            background-color: $error;
        }
        .tooltip-arrow {
            border-right-color: $error;
        }
    }
}

.secondary-action {
    padding-top:10px;
}

#picture {
    border: 1px solid #aaaaaa;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#button-icon {
    line-height: 40px;
}

#photo-upload {
    height: 40px;
    font-size: 16px;
    width:200px;
}

#reveal-key {
    color: #B6BAB9;
    font-weight: 300;
    cursor: pointer;
    transition: color 200ms ease-in-out;

    &:hover {
        color: $brand-primary;
    }
}

.settings-totp {
    .totp-instructions {
        margin: 15px 0 15px 25px;
    }

    .clearfix {
        height: auto;
    }
}

.totp-qr {
    margin-left: 30px;
    code {
        font-size: 21px;
    }
}

.reset-recovery {
    padding: 10px 0 0 25px;
}
