.settings > .settings-section {
	padding-top:50px;
	padding-bottom:50px;
}

.settings-section {
	.title {
		font-size: 18px;
		font-weight: bold;
		padding-bottom:15px;
		.glyphicon {
			padding-right:5px;
		}
	}
	button[type="submit"] {
		float:left;
		margin:auto;
	}
	> .row {
		padding: 15px 0 15px 0;
	}
}

.secondary-action {
	padding-top:15px;
}

#button-icon {
	line-height: 45px;
}