.tooltip.error {
  .tooltip-inner {
      background-color: $error;
  }
  .top.tooltip-arrow {
    border-top-color: $error !important;
  }
  .right.tooltip-arrow {
      border-right-color: $error !important;
  }
  .left.tooltip-arrow {
    border-left-color: $error !important;
  }
  .bottom.tooltip-arrow {
      border-bottom-color: $error !important;
  }
}

.tooltip.info {
  .tooltip-inner {
      background-color: $brand-primary;
  }
  .top.tooltip-arrow {
    border-top-color: $brand-primary !important;
  }
  .right.tooltip-arrow {
      border-right-color: $brand-primary !important;
  }
  .left.tooltip-arrow {
    border-left-color: $brand-primary !important;
  }
  .bottom.tooltip-arrow {
      border-bottom-color: $brand-primary !important;
  }
}