.trading-form {
  .offer-status {
    width: 100%;
    min-height: 400px;
    background-color: $grey-background;
    padding-top: 70px;
    text-align: center;
    font-size: 24px;
    color: black;

    .button-group {
      padding: 35px 0;

      button {
        width: 200px;
      }
    }

    &.trade-sent .modalStatus-icon {
      color: $success;
    }
  }

  .form-group {
    margin-bottom: 15px;
  }

  @media (min-width: $mobile-width) { 
    .form-group {
      margin-bottom: 15px;
    }
  }
}

.current-offers-table {
  width: 100%;

  thead tr {
    line-height: 50px;
  }

  tbody tr {
    font-weight: $book-weight;
    border-bottom: 1px solid $light-grey;
    line-height: 50px;

    .cancel-offer {
      text-align: right;
    }
  }
}

.order-book {
  .order-type {
    text-align: center;
  }

  .order-book-table {
    width: 100%;

    thead tr {
      line-height: 50px;
    }

    tbody tr {
      font-weight: $book-weight;
      border-bottom: 1px solid $light-grey;
      line-height: 50px;

      .cancel-offer {
        text-align: right;
      }
    }
  }
}

.trading-top {
  padding-top: 20px;
}

.order-book-summary {
  border: solid 1px $light-grey;
  padding-top: 15px;
  padding-bottom: 15px;

  .order-book-summary-title {
    margin-top: 0px;
  }

  .order-book-summary-value {
    font-weight: $book-weight;
  }

  .order-book-summary-value:empty{
    &:after {
      content: "--";
    }
  }
}