.transaction-history {
  color: $dark-grey;

  .title {
    font-size: 20px;
    margin-top: 35px;
    margin-bottom: 25px;
    display: inline-block;
  }

  .table {
    th {
      text-align: left;
      padding: 24px 24px 24px 0;
      margin-right: 3px;
      border-bottom-width: 1px;

      &.sort-desc,
      &.sort-asc {
        background-color: transparent;
      }
    }

    tr.tx {
      font-weight: $avenir-medium;

      td {
        line-height: 32px;
        padding: 16px 8px;
        font-size: 16px;
        white-space: nowrap;

        i {
          font-size: 20px;
          margin-right: 12px;
          vertical-align: middle;
          padding-bottom: 4px;

          &.glyphicon-download {
            color: $success;
          }

          &.glyphicon-upload {
            color: $error;
          }
        }

        .type {
          text-transform: uppercase;
          font-size: 13px;
          letter-spacing: 3px;
        }

        &.direction {
          color: $grey;
          text-align: center;
        }
      }
    }
  }
}