.transaction-history {
  color: $dark-grey;
  margin-bottom: 50px;
  width: 100%;
  color: black;

  .tx-title {
    font-size: 20px;
    margin-top: 35px;
    margin-bottom: 25px;
    display: inline-block;
  }

  .tx-grid {
    background-color: transparent;

    .ngViewport {
      overflow: hidden;
    }

    .ngVerticalBar {
      display: none;
    }

    .ngTopPanel {
      background-color: transparent;
      line-height: 70px;

      .ngHeaderCell:hover {
        background-color: rgba($light-grey, 0.5);
      }
    }

    .ngRow {

      line-height: 70px;

      i {
        font-size: 20px;
        padding-bottom: 4px;
        vertical-align: middle;
        margin-right: 10px;

        &.icon-receive {
          color: $success;
        }

        &.icon-send {
          color: $error;
        }
      }

      .tx-type {
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 3px;
      }

      .tx-direction {
        color: $grey;
      }

      &.odd,
      &.even {
        background-color: transparent;
      }
    }

    .ngSortButtonUp,
    .ngSortButtonDown {
      top: 37px;
      left: auto;
      right: 10px;
    }

    .col1, .col2, .col5 {
      text-align: center;
    }
    .col4 {
      text-align: right;
    }

  }

  .tx-paging {
    margin-top: 20px;

    .next-page {
      float: right;
    }
  }
}