.upgrade {
  margin-top: 20px;
  font-weight: 300;

  .upgrade-intro {
    width: 800px;
    padding: 30px;
    color: #596973;
    border: 1px solid #00B7E9;
    background-color: #F1FEFF;
    margin-bottom: 25px;
    h2 {
      font-weight: 300;
      margin-top: 0;
      margin-bottom: 30px;
    }
    p {
      font-size: 20px;
      padding-bottom: 20px;
    }
    button {
      width: 250px;
    }
  }

  @media (max-width: $phone-width) {
    .upgrade-intro {
      width: 95%;

      button {
        width: 100%;
      }
    }
  }

  .loading {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    p {
      color: #9CABB2;
      font-size: 24px;
    }
  }

  .upgraded {
    padding-top: 20px;
    text-align: center;

    .icon {
      margin-top: 30px;
      margin-bottom: 30px;
    }

    h1 {
      font-weight: 300;
      font-size: 24px;
      color: #5A6973;
    }

    h2 {
      font-size: 22px;
      color: #9CABB2;
    }

    h2.margin {
      padding-top: 20px;
    }

    p {
      margin-top: 20px;
    }

    ul {
      list-style-type: none;
    }

    .keypair {
      margin-top: 50px;
      margin-bottom: 50px;
      padding-top: 50px;
      padding-bottom: 20px;
      border-top: 1px solid #f0f0f0;
      border-bottom: 1px solid #f0f0f0;

      p {
        color: #5A6973;
        font-size: 18px;
        margin-bottom: 30px;
        /* Secret seed and address are long so break them */
        word-wrap: break-word;
      }

      p.warning {
        text-transform: uppercase;
        font-size: 15px;

        .warning-title {
          color: #D41B32;
        }
      }
    }

    .client {
      margin-top: 40px;
      margin-bottom: 40px;

      p {
        font-size: 18px;
      }
    }
  }
}
