<div class="alpha">
    <div>
        <h1 class="title">Welcome to the Stellar Alpha Test</h1>
        <p class="info">
            Only available to people we have mailed an Alpha code to. If you haven't gotten a code just *hang on*. We will have a general beta soon!
        </p>
        <form role="form" class="form-horizontal stellar-form" ng-controller="AlphaCtrl">
            <div class="form-group">
                <div class="errors col-sm-12">
                    <div class="tip col-sm-offset-6 col-sm-3">{{ alphaCodeErrors.join('\n') }}</div>
                </div>
                <label for="code" class="col-sm-3">ALPHA CODE</label>
                <div class="input-icon-wrapper col-sm-6">
                    <input id="code" type="text" class="form-control" ng-class="{error: alphaCodeErrors.length}" ng-model="alphaCode" placeholder="Alpha Tester Code emailed to you" ng-change="clearErrors()">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-6">
                    <button type="submit" class="btn btn-default stellar-button" ng-click="attemptAlpha()">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>