<div class="alpha client-section">
    <div class="title alpha-section">
        Welcome to the Stellar Alpha Test
    </div>
    <div class="info alpha-section">
        Only available to Alpha testers. If you signed up to be an Alpha tester, please check your email.<br>
        If you are not an Alpha tester, <a href="http://www.gostellar.org/sign-up">click here to sign up for the wait list</a>.
    </div>
    <div class="alpha-section">
        <form role="form" class="form-horizontal stellar-form" ng-controller="AlphaCtrl">
            <div class="form-group container">
                <div class="row">
                    <div class="errors col-sm-offset-3 col-sm-6">
                        <div class="tip">{{ alphaCodeError }}</div>
                    </div>
                </div>
                <div class="row">
                    <label for="code" class="col-sm-3">ALPHA CODE</label>
                    <div class="col-sm-6 input-icon-wrapper">
                        <input id="code" type="text" class="form-control" ng-class="{'input-error': alphaCodeError}" ng-model="alphaCode" placeholder="Check your email for your code" ng-change="clearErrors()">
                    </div>
                </div>
            </div>
            <div class="form-group container">
                <div class="row">
                    <div class="col-sm-offset-3 col-sm-6">
                        <button type="submit" class="btn btn-default stellar-button" ng-click="attemptAlpha()">{{attemptAlpha.isLoading() ? 'Loading...' : 'Submit'}}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>