<div class="change-password client-section">
    <div class="container">
        <h1 class="title">Set your new password</h1>

        <form role="form" class="form-horizontal stellar-form" ng-controller="ChangePasswordCtrl">
            <div class="form-group">
                <div class="errors col-sm-12">
                    <div class="tip col-sm-offset-6 col-sm-3"></div>
                </div>
                <label for="username" class="col-sm-3">USERNAME</label>
                <div class="col-sm-6">
                    <input id="username" type="text" class="form-control" ng-model="data.username" disabled>
                </div>
            </div>

            <div class="password-container" ng-include="'templates/password.html'"></div>

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-6">
                    <button type="submit" class="btn btn-default stellar-button" ng-click="attemptPasswordChange()"
                            ng-disabled="loading">{{loading ? 'Recovering...' : 'Recover my password'}}</button>
                </div>
            </div>
        </form>
    </div>
</div>