<div class="dashboard" ng-class="tutorials.get('dashboard')" ng-controller="DashboardCtrl">
    <div class="controls-container client-section">
        <div class="container">
            <div class="row controls top-row">
                <div class="img-container col-sm-3"><img src="images/wallet.png"></div>
                <div class="dash-balance-container col-xs-12 col-sm-6">
                    <span ng-show="$root.accountStatus == 'loaded'" class="dash-balance" rp-tooltip="{{$root.balance  | rpamount}}  (minimum balance: {{ $root.reserve }} STR)" ng-bind-html="$root.balance | rpamount:{rel_precision: 0} | shrinkText:84:6"></span>
                    <span ng-hide="$root.accountStatus == 'loaded'" class="dash-balance" ng-bind-html="statusMessage() | shrinkText:84:6"></span>
                </div>
                <div class="img-container col-sm-3"><img src="images/rocket.png"></div>
            </div>
            <div class="row controls">
                <div class="dash-info-container col-xs-12 col-sm-6 col-sm-push-3">
                    <span ng-show="$root.accountStatus == 'loaded'" class="dash-balance-info ng-hide">Current Balance <b>Stellars</b></span>
                </div>
                <div class="dash-receive-container col-xs-12 col-sm-3 col-sm-pull-6">
                    <button class="stellar-button btn btn-default" ng-click="openReceive()" ng-show="!showTab || tab != 'receive'">
                        <i class="icon icon-receive"></i>
                        Receive
                    </button>
                    <div class="no-button" ng-show="showTab && tab == 'receive'"><i class="icon icon-receive"></i>Receive</div>
                </div>
                <div class="dash-send-container col-xs-12 col-sm-3">
                    <button class="stellar-button btn btn-default" ng-click="openSend()" ng-show="!showTab || tab != 'send'">
                        <i class="icon icon-send"></i>
                        Send
                    </button>
                    <div class="no-button" ng-show="showTab && tab == 'send'"><i class="icon icon-send"></i>Send</div>
                </div>
            </div>
            <div class="row arrow-row">
                <div class="col-sm-3" ng-show="showTab && tab == 'receive'">
                    <div class="arrow arrow-shadow"></div>
                    <div class="arrow"></div>
                </div>
                <div class="col-sm-3 col-sm-offset-9" ng-show="showTab && tab == 'send'">
                    <div class="arrow arrow-shadow"></div>
                    <div class="arrow"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row tx-tip-container">
        <div class="container">
            <div class="client-section">
                <div class="tx-tip" ng-show="showTransaction" ng-click="clearNotification()">
                    <div class="tx-type"><i class="icon icon-receive"></i></div><!-- Prevent space between inline blocks
                 --><div class="tx-message">You received <span class="amount">
                        {{ newTransaction.amount.to_human() }} {{ newTransaction.currency }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="send-receive container" ng-class="{open: showTab}">
        <div class="send-container client-section" ng-include="'templates/send.html'" ng-show="tab==='send'"></div>
        <div class="receive-container client-section" ng-include="'templates/receive.html'" ng-show="$root.tab==='receive'"></div>
    </div>
    <div class="client-section" id="dashboard-flash-messages" ng-show="messages.length" ng-controller="FlashMessageCtrl">
        <div ng-include="'templates/flash-message-container.html'"></div>
    </div>
    <div ng-include="'templates/reward-container.html'"></div>
    <div ng-include="'templates/transaction-history.html'"></div>
</div>
