<div class="dashboard" ng-controller="DashboardCtrl">
    <div class="row controls">
        <div class="col-md-3">
            <img src="images/wallet.png"><br>
            <button class="stellar-button btn btn-default" ng-click="toggleReceive()">
                <i class="glyphicon glyphicon-download"></i>
                Receive stellars
            </button>
        </div>
        <div class="col-md-6 dash-balance-container">
            <span class="dash-balance" rp-tooltip="{{$root.balance  | rpamount}}  (reserve: {{ $root.reserve  | rpamount }} XTR)" ng-bind-html="$root.balance | rpamount:{rel_precision: 0} | shrinkText:84:12"></span><br>
            <span class="dash-balance-info">Current Balance <b>Stellars</b></span>
        </div>
        <div class="col-md-3">
            <img src="images/rocket.png"><br>
            <button class="stellar-button btn btn-default" ng-click="toggleSend()">
                <i class="glyphicon glyphicon-upload"></i>
                Send stellars
            </button>
        </div>
    </div>
    <div class="send-container" ng-include="'templates/send.html'" ng-show="tab==='send'"></div>
    <div class="receive-container" ng-include="'templates/receive.html'" ng-show="$root.tab==='receive'"></div>
</div>
<reward-pane></reward-pane>
<div ng-include="'templates/transaction-history.html'"></div>
