<div class="login">
    <h1 class="title">Log in</h1>

    <form role="form" class="form-horizontal stellar-form" ng-controller="LoginCtrl">
        <div class="form-group">
            <div class="errors col-sm-12">
                <div class="tip col-sm-offset-6 col-sm-3">{{ loginError }}</div>
            </div>
            <label for="username" class="col-sm-3">USERNAME</label>
            <div class="col-sm-6">
                <input id="username" type="text" class="form-control" placeholder="Username" ng-model="username">
            </div>
        </div>
        <div class="form-group">
            <div class="errors col-sm-12"></div>
            <label for="password" class="col-sm-3">PASSWORD</label>
            <div class="col-sm-6">
                <input id="password" type="password" class="form-control" placeholder="Password" ng-model="password">
            </div>
        </div>
        <div class="form-group">
            <div class="errors col-sm-12"></div>
            <div class="col-sm-offset-3 col-sm-6">
                <button type="submit" class="stellar-button btn btn-default" ng-click="attemptLogin()">Log in</button>
            </div>
        </div>
    </form>
</div>