<div class="login client-section">
    <div class="container">

        <div ng-show="messages.length" ng-controller="FlashMessageCtrl">
            <div ng-include="'templates/flash-message-container.html'"></div>
        </div>
        <div class="row">
            <h1 class="title">Log in</h1>
        </div>

        <form role="form" class="form-horizontal stellar-form" ng-controller="LoginCtrl">
            <div class="form-group">
                <div class="row">
                    <div class="errors col-sm-offset-3 col-sm-6">
                        <div class="tip">{{ loginError }}</div>
                    </div>
                </div>
                <div class="row">
                    <label for="username" class="col-sm-3">USERNAME</label>
                    <div class="col-sm-6 input-icon-wrapper">
                        <input id="username" type="text" class="form-control" ng-model="username">
                        <i class="icon icon-user"></i>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="errors col-sm-12"></div>
                </div>
                <div class="row">
                    <label for="password" class="col-sm-3">PASSWORD</label>
                    <div class="col-sm-6 input-icon-wrapper">
                        <input id="password" type="password" class="form-control" ng-model="password">
                        <i class="icon icon-key"></i>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-offset-3 col-sm-6">
                        <input type="checkbox" id="remember-me" name="remember-me" ng-model="rememberMe">
                        <label for="remember-me" class="remember-me"> Remember me</label>
                        <div class="warning" ng-show="rememberMe"><span class="warning-title">WARNING</span> This saves your password on your local disk, meaning an attacker with access to your files could steal your wallet. </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-offset-3 col-sm-6">
                        <button type="submit" class="stellar-button btn btn-default" ng-click="attemptLogin()">{{attemptLogin.isLoading() ? 'Logging in...' : 'Log in'}}</button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-6">
                    <span class="recovery-info"><a href="#/username-recovery">Forgot username?</a></span>
                </div>
                <div class="col-sm-offset-3 col-sm-6">
                    <span class="recovery-info"><a href="#/recovery">Forgot password?</a></span>
                </div>
            </div>
        </form>

        <div class="news" ng-include="'templates/news.html'"></div>
    </div>
</div>
