<div class="registration">
    <h1 class="title">Create Your Account</h1>

    <form role="form" class="form-horizontal stellar-form" ng-controller="RegistrationCtrl">
        <div class="form-group">
            <div class="errors col-sm-12">
                <div class="tip col-sm-offset-6 col-sm-3">{{ errors.usernameErrors.join('\n') }}</div>
            </div>
            <label for="username" class="col-sm-3">USERNAME</label>
            <div class="col-sm-6">
                <div class="input-icon-wrapper">
                    <input id="username" type="text" class="form-control" ng-class="{'input-error': errors.usernameErrors.length}" ng-model="data.username" ng-change="checkUsername()">
                    <i class="glyphicon glyphicon-user"></i>
                </div>
            </div>
            <div class="col-sm-3 info">
                <i class="username-status status glyphicon" ng-class="usernameClass()"></i>
                <span class="tip">Make it memorable.</span>
            </div>
        </div>

        <div class="form-group">
            <div class="errors col-sm-12">
                <div class="tip col-sm-offset-6 col-sm-3">{{ errors.emailErrors.join('\n') }}</div>
            </div>
            <label for="email" class="col-sm-3">
                EMAIL
                <span class="tip">(optional)</span>
            </label>
            <div class="col-sm-6">
                <div class="input-icon-wrapper">
                    <input id="email" type="email" class="form-control" ng-model="data.email" ng-change="errors.emailErrors = []">
                    <i class="glyphicon glyphicon-envelope"></i>
                </div>
            </div>
            <div class="col-sm-3 info">
                <i class="username-status status glyphicon glyphicon-none"></i>
                <span class="tip">For password recovery.</span>
            </div>
        </div>

        <div class="password-container" ng-include="'templates/password.html'"></div>

        <div class="form-group terms">
            <div class="col-sm-offset-3 col-sm-6 tip">
                By clicking the button, you agree to our <a href="#/terms">Terms</a>.
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-6">
                <button type="submit" class="btn btn-default stellar-button" ng-click="attemptRegistration()"
                    ng-disabled="loading">{{loading ? 'Sending...' : 'Submit'}}</button>
            </div>
        </div>
    </form>
</div>