<div class="settings" ng-controller="SettingsCtrl">
    <div class="container">
        <div class="client-section">
            <h1 class="title">Settings<span class="link-dashboard"><a href="/#/dashboard">&#8592; back to dashboard</a></span></h1>

        </div>

        <!-- TODO: add user photos
        <div class="client-section settings-section">
            <div class="row">
                <div class="settings-label col-sm-3">
                    <img id="picture" src="http://i.imgur.com/h6R4Bhp.jpg"/>
                </div>
                <div class="settings-control col-sm-4 row">
                    <div class="col-sm-1">
                        <span id="button-icon" class="glyphicon glyphicon-picture"/>
                    </div>
                    <div class="col-sm-8">
                        <button id="photo-upload" class="btn btn-default ng-binding">Change photo</button>
                        <div class="secondary-action">
                            <a href="#">Remove my photo</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        -->

        <div class="client-section">
            <div class="settings-section">
                <div class="title">
                    <div class="icon-col">
                        <span class="glyphicon glyphicon-credit-card"/>
                    </div>
                    <span>Account</span>
                </div>
                <div class="row">
                    <div class="settings-label col-md-3 col-xs-6">RECOVERY TOKEN</div>
                    <div class="settings-control col-md-9 col-xs-6">
                        <div class="icon-col">
                            <span class="icon icon-key"/>
                        </div>
                        <span id="recovertoggle" class="error-block" data-toggle="tooltip" data-placement="right" data-template='<div class="tooltip error-tip" role="tooltip"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div>' st-toggle ctrl="toggle.recover"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="settings-label col-md-3 col-xs-6">SEND EMAILS</div>
                    <div class="settings-control col-md-9 col-xs-6">
                        <div class="icon-col">
                            <span class="icon icon-email"/>
                        </div>
                        <span id="emailtoggle" class="error-block" data-toggle="tooltip" data-placement="right" data-template='<div class="tooltip error-tip" role="tooltip"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div>' st-toggle ctrl="toggle.email"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="settings-label col-md-3 col-xs-6">FEDERATION</div>
                    <div class="settings-control col-md-9 col-xs-6">
                        <div class="icon-col">
                            <span class="icon icon-user"/>
                        </div>
                        <span id="federatetoggle" class="error-block" data-toggle="tooltip" data-placement="right" data-template='<div class="tooltip error-tip" role="tooltip"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div>' st-toggle ctrl="toggle.federate"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="settings-label col-md-3 col-xs-6">SHOW REWARDS</div>
                    <div class="settings-control col-md-9 col-xs-6">
                        <div class="icon-col">
                            <span class="icon icon-lock"/>
                        </div>
                        <span id="rewardtoggle" class="error-block" data-toggle="tooltip" data-placement="right" data-template='<div class="tooltip error-tip" role="tooltip"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div>' st-toggle ctrl="toggle.rewards"></span>
                    </div>
                </div>
            </div>

            <div class="settings-section">
                <div class="title">
                    <div class="icon-col">
                        <span class="icon icon-lock"/>
                    </div>
                    <span>Security</span>
                </div>

                <div class="row" ng-controller="SettingsEmailCtrl">
                    <div class="settings-label col-md-3 col-xs-6">EMAIL</div>
                    <div class="settings-control col-md-9 col-xs-6">
                        <div class="row">
                            <div class="icon-col col-xs-1">
                                <span class="icon icon-email"/>
                            </div>
                            <!-- User hasn't added email yet -->
                            <div class="col-xs-10" ng-show="getEmailState() == 'none'">
                                <a href="" ng-click="setEmailState('change')">Add your email</a>
                            </div>
                            <!-- Show current email with verified check mark (if verified) -->
                            <div class="col-xs-10" ng-show="getEmailState() == 'added'">
                                <div>
                                    <span class="change-email-control" ng-show='!changingEmail'>{{email}}</span>
                                    <span class="verified-email-status icon icon-tick" ng-show="emailVerified"> Verified</span>
                                    <a href="" ng-show="!emailVerified" ng-click="setEmailState('verify')">Verify</a>
                                </div>
                                <div class="secondary-action">
                                    <a href="" ng-click="setEmailState('change')">Change email</a>
                                </div>
                            </div>
                            <!-- Input layout (for add/change email) -->
                            <div class="col-xs-10" ng-show="getEmailState() == 'change'">
                                <div class="row">
                                    <div class="col-md-5 col-xs-12">
                                        <input id="email-input" data-toggle="tooltip" placeholder="Email" type="text" class="form-control" ng-model="newEmail"></input>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-xs-12 col-md-push-1">
                                        <button class="btn btn-default stellar-button settings-confirm-button" ng-click="emailAction()">{{updateEmail.isLoading() ? "Loading..." : "Confirm"}}</button>
                                    </div>
                                    <div class="settings-cancel-button col-md-1 col-xs-1 col-md-pull-4">
                                        <a href="" ng-click="resetEmailState()">Cancel</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Input layout (for verify recovery code) -->
                            <div class="col-xs-10" ng-show="getEmailState() == 'verify'">
                                <div class="row">
                                    <div class="col-md-5 col-xs-12">
                                        <input id="verify-input" data-toggle="tooltip" placeholder="Code" type="text" class="form-control" ng-model="verifyToken"></input>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-xs-12 col-md-push-1">
                                        <button class="btn btn-default stellar-button settings-confirm-button" ng-click="emailAction()">{{updateEmail.isLoading() ? "Loading..." : "Confirm"}}</button>
                                    </div>
                                    <div class="settings-cancel-button col-md-1 col-xs-1 col-md-pull-4">
                                        <a href="" ng-click="resetEmailState()">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- TODO change password
                <div class="row">
                    <div class="settings-label col-sm-3">PASSWORD</div>
                    <div class="settings-control col-sm-9">
                        <div class="row">
                            <div class="col-sm-1 icon-col">
                                <span class="icon icon-key"/>
                            </div>
                            <div class="col-sm-10">
                                <span ng-show="!changingPassword">***********************</span>
                                <div class="change-password-control" ng-show="changingPassword">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-3">
                                            <label for="recovery-code">Enter Recovery Code:</label>
                                        </div>
                                        <div class="col-sm-12 col-md-4">
                                            <input id="recovery-code" class="form-control" autocomplete="off"></input>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-3">
                                            <label for="pasword">Enter New Password:</label>
                                        </div>
                                        <div class="col-sm-12 col-md-4">
                                            <input id="password" class="form-control"></input>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-3">
                                            <label for="confirm-password">Confirm New Password:</label>
                                        </div>
                                        <div class="col-sm-12 col-md-4">
                                            <input id="confirm-password" class="form-control"></input>
                                        </div>
                                    </div>
                                </div>
                                <div class="secondary-action">
                                    <a href="" ng-click="changingPassword = !changingPassword">{{changingPassword ? 'Cancel' : 'Change Password'}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                -->

                <div class="row">
                    <div class="settings-label col-md-3 col-xs-6">SECRET KEY</div>
                    <div class="settings-control col-md-9 col-xs-6">
                        <div ng-hide="reveal">
                            <div class="icon-col">
                                <span class="icon icon-key"/>
                            </div>
                            <span>*************</span>
                        </div>
                        <div ng-show="reveal">
                            <input type="text" class="form-control stellar-input" value="{{secretKey}}"/>
                        </div>
                        <div class="secondary-action">
                            <span id="reveal-key" ng-click="reveal = !reveal">{{reveal ? 'Hide' : 'Reveal'}}</span>
                        </div>
                    </div>
                </div>

                <!-- TODO backup
                <div class="row">
                    <div class="settings-label col-sm-3">BACK UP</div>
                    <div class="settings-control col-sm-4 row">
                        <div class="col-sm-1">
                            <span class="glyphicon glyphicon-download"/>
                        </div>
                        <a href="#" class="icon col-sm-8">Backup your wallet</a>
                    </div>
                </div>
                -->

                <!-- TODO add save when we need it
                <div class="row col-md-offset-3">
                    <button class="btn btn-default ng-binding col-sm-6 col-md-offset-4" ng-click="saveSettings()" type="submit">Save</button>
                </div>
                -->
            </div>
        </div>
    </div>
</div>
