<div class="recovery client-section">
    <div class="container">
        <h1 class="title">Username Recovery</h1>

        <form name="recoverform" role="form" class="form-horizontal" ng-controller="UsernameRecoveryCtrl" novalidate>
            <div class="form-group">
                <div class="errors col-sm-offset-3 col-sm-6">
                    <div class="tip">{{ emailError }}</div>
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="col-sm-3">EMAIL</label>
                <div class="col-sm-6">
                    <input name="email" id="email" type="email" class="form-control" ng-model="email" ng-change="emailError = null">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-6">
                    <button type="submit" class="btn btn-default" ng-click="attemptRecovery()" ng-disabled="attemptRecovery.isLoading()">{{attemptRecovery.isLoading() ? 'Recovery...' : 'Recover username'}}</button>
                </div>
            </div>
        </form>
    </div>
</div>