<!-- Markup for Carson Shold's Photo Selector -->
<div ng-controller="FacebookPhotoPickerCtrl">
  <button class="stellar-button btn btn-default" ng-click="pickPhoto()">Select Profile Photo</button>
  <div id="CSPhotoSelector">
    <div class="CSPhotoSelector_dialog">
      <a href="#" id="CSPhotoSelector_buttonClose">x</a>
      <div class="CSPhotoSelector_form">
        <div class="CSPhotoSelector_header">
          <p>Choose from Photos</p>
        </div>

        <div class="CSPhotoSelector_content CSAlbumSelector_wrapper">
          <p>Browse your albums until you find a picture you want to use</p>
          <div class="CSPhotoSelector_searchContainer CSPhotoSelector_clearfix">
            <div class="CSPhotoSelector_selectedCountContainer">Select an album</div>
          </div>
          <div class="CSPhotoSelector_photosContainer CSAlbum_container"></div>
        </div>

        <div class="CSPhotoSelector_content CSPhotoSelector_wrapper">
          <p>Select a new photo</p>
          <div class="CSPhotoSelector_searchContainer CSPhotoSelector_clearfix">
            <div class="CSPhotoSelector_selectedCountContainer"><span class="CSPhotoSelector_selectedPhotoCount">0</span> / <span class="CSPhotoSelector_selectedPhotoCountMax">0</span> photos selected</div>
            <a href="#" id="CSPhotoSelector_backToAlbums">Back to albums</a>
          </div>
          <div class="CSPhotoSelector_photosContainer CSPhoto_container"></div>
        </div>

        <div id="CSPhotoSelector_loader"></div>


        <div class="CSPhotoSelector_footer CSPhotoSelector_clearfix">
          <a href="#" id="CSPhotoSelector_pagePrev" class="CSPhotoSelector_disabled">Previous</a>
          <a href="#" id="CSPhotoSelector_pageNext">Next</a>
          <div class="CSPhotoSelector_pageNumberContainer">
            Page <span id="CSPhotoSelector_pageNumber">1</span> / <span id="CSPhotoSelector_pageNumberTotal">1</span>
          </div>
          <a href="#" id="CSPhotoSelector_buttonOK">OK</a>
          <a href="#" id="CSPhotoSelector_buttonCancel">Cancel</a>
        </div>
      </div>
    </div>
  </div>
</div>