<div class="body">
    <h2 translate="facebook.get_on_wait_list" translate-value-mandate-url="https://www.stellar.org/about/mandate/#Direct_signup_program"></h2>
    <p>{{'facebook.giveaway_limit_reached' | translate}}</p>
    <a href="" ng-show="!describe" ng-click="describe = true">{{'facebook.why_facebook' | translate}}</a>
    <p ng-show="describe">{{'facebook.why_facebook_describe' | translate}}</p>
</div>
<div class="fbconnect">
    <button class="fbbutton" ng-click="facebookLogin()" ng-show="fbinit">
        <div class="fblogo">f</div>
        <div class="fblabel" ng-hide="loading">{{'facebook.connect_with_facebook' | translate}}</div>
        <div class="fblabel" ng-show="loading">{{'global.loading' | translate}}</div>
    </button>
    <p ng-show="!fbinit">{{'global.loading' | translate}}</p>
</div>