<div class="body">
    <h2>Receive <strong>{{giveawayAmount}} stellars</strong> on us!</h2>
    <a href="" ng-show="!describe" ng-click="describe = true">Why Facebook?</a>
    <p ng-show="describe">We are currently using Facebook as a verification method to avoid spam but hope to add other methods soon. We will not post on your Facebook.</p>
</div>
<div class="fbconnect">
    <button class="fbbutton" ng-click="facebookLogin()" ng-show="fbinit">
        <div class="fblogo">f</div>
        <div class="fblabel" ng-hide="loading">Connect with Facebook</div>
        <div class="fblabel" ng-show="loading">Loading...</div>
    </button>
    <p ng-show="!fbinit">Loading...</p>
</div>