<div ng-show="hasGateways()">
    <h3 class="subtitle">Trusted Gateways</h3>
    <ul>
        <li ng-repeat="(domain, gateway) in gateways" class="row">
            <div class="col-sm-3">
                <a href="http://{{ domain }}" target="_blank">{{ domain }}</a>
            </div>
            <div class="col-sm-8">
                {{ currencyNames(gateway.currencies) }}
            </div>
            <div class="col-sm-1">
                <a href="#" ng-click="removeGateway(domain)">remove</a>
            </div>
        </li>
    </ul>
</div>