<div class="gateway-list client-section" ng-controller="GatewayListCtrl" ng-show="hasGateways()">
    <h3 class="subtitle">Trusted Gateways</h3>
    <ul>
        <li ng-repeat="gateway in gateways" class="row" ng-controller="GatewayListItemCtrl">
            <div class="col-sm-3">
                <a href="http://{{ gateway.domain }}" target="_blank">{{ gateway.domain }}</a>
            </div>
            <div class="col-sm-5">
                {{ currencyNames() }}
            </div>
            <div class="col-sm-4 gateway-list-actions" ng-switch="gateway.status">
                <span ng-switch-when="adding"           class="text-info">Establishing trustlines...</span>
                <span ng-switch-when="removing"         class="text-info">Removing trustlines...</span>
                <span ng-switch-when="removal_failed">
                    <span class="text-danger">Error!</span> 
                    <a href="#" ng-click="remove()">retry</a>
                </span>
                <span ng-switch-when="add_failed">
                    <span class="text-danger">Error!</span> 
                    <a href="#" ng-click="cancelAdd()">cancel</a>
                    /
                    <a href="#" ng-click="retryAdd()">retry</a>
                </span>
                <a ng-switch-default href="#" ng-click="remove()">remove</a>
            </div>
        </li>
    </ul>
</div>