<div class="pane" ng-controller="ManageCurrenciesCtrl">
    <div class="pane-close" ng-click="closePane()">
        <span>Close</span>
        <i class="icon icon-times-circle-thin"></i>
    </div>

    <div class="gateway-form" ng-controller="AddGatewayCtrl">
        <div class="title">Manage currencies</div>
        <p>You have to add a gateway to add currencies. Find out <a href="#">more</a>.
        <form class="form-inline">
            <div class="form-group">
                <label>Add gateway</label>
                <input class="form-control" type="text" ng-model="gatewaySearch"/>
                <button type="submit" class="btn btn-default form-control" ng-click="loadCurrencies()">
                    {{ loadCurrencies.isLoading() ? 'Loading...' : 'Show supported currencies' }}
                </button>
            </div>
        </form>
        <div ng-show="searchStatus == 'loading'">Loading...</div>
        <div ng-show="searchStatus == 'not_found'">No results found for {{ gatewaySearch }}</div>
        <div ng-show="searchStatus == 'no_currencies'">No currencies found for {{ gatewaySearch }}</div>
        <div ng-show="searchStatus == 'already_added'">{{ gatewaySearch }} was already added</div>

        <div class="gateway-currencies" ng-show="searchStatus == 'found'">
            <h5>Supported currencies for {{ foundGateway.domain }}:</h5>
            <ul class="currencies-list">
                <li ng-repeat="currency in foundGateway.currencies" class="currency-box">
                    <h5>{{ currency.currency }}</h5>
                    <p class="currency-issuer">{{ currency.issuer | addressToUsername }}</p>
                </li>
            </ul>
            <button class="btn btn-default" ng-click="addGateway()">Trust {{foundGateway.domain}}</button>
        </div>
    </div>

    <div class="alert alert-success alert-dismissable" ng-show="addedGatewayDomain">
        <button type="button" class="close" ng-click="hideAddAlert()">
            <i class="icon icon-close" aria-hidden="true" />
        </button>
        Successfully added {{addedGatewayDomain}}
    </div>

    <div class="alert alert-success alert-dismissable" ng-show="removedGatewayDomain">
        <button type="button" class="close" ng-click="hideRemoveAlert()" >
            <i class="icon icon-close" aria-hidden="true" />
        </button>
        Successfully removed {{removedGatewayDomain}}
    </div>

    <div class="gateways row">
        <ng-include src="'templates/gateways.html'" />
    </div>
</div>