<ul class="news-items">
    <li>
        <h4>The Next Web:</h4>
        <a href="http://thenextweb.com/insider/2014/08/01/stellar-open-source-solution-international-money-transfers-currency/">What you need to know about Stellar, the new open-source solution to international currency exchange</a>
    </li>
    <li>
        <h4>Business Insider:</h4>
        <a href="http://www.businessinsider.com/keith-rabois-stellar-foundation-2014-7">PayPal's Cofounder Is Supporting A New Non-Profit That Will Tackle The Vision PayPal 'Never Accomplished'</a>
    </li>
</ul>