<div class="trading-info-widget" ng-controller="OrderBookSummaryCtrl">
    <h4 class="trading-info-widget-title">{{ currencyPairName }}</h4>
    <div class="row">
        <div class="col-xs-6">
            <h5>Highest bid price</h5>
            <div class="trading-info-widget-value">{{highestBid | roundedAmount:precision}}</div>
        </div>
        <div class="col-xs-6">
            <h5>Lowest ask price</h5>
            <div class="trading-info-widget-value">{{lowestAsk | roundedAmount:precision}}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <h5>Spread</h5>
            <div class="trading-info-widget-value">{{spread | roundedAmount:precision}}</div>
        </div>
        <div class="col-xs-6">
            <h5>Last price</h5>
            <div class="trading-info-widget-value">{{lastPrice | roundedAmount:precision}}</div>
        </div>
    </div>
</div>