<div class="order-book" ng-controller="OrderBookCtrl">
    <div ng-show="setCurrentOrderBook.isLoading()">
        <p class="order-status">Loading...</p>
    </div>
    <div ng-hide="setCurrentOrderBook.isLoading()">
        <div class="col-sm-6">
            <div class="order-info">
                <h4 class="order-type">Bids</h4>
                (buy {{ currentOrderBook.baseCurrency.currency }} for {{ currentOrderBook.counterCurrency.currency }})
            </div>
            <p ng-hide="currentBids.length" class="order-status">There are no current bids for this currency pair from the selected issuer yet. Make some by submitting a new trade order.</p>
            <table class="order-book-table table" ng-show="currentBids.length">
                <thead>
                    <tr>
                        <th>Price ({{ currentOrderBook.baseCurrency.currency }}/{{ currentOrderBook.counterCurrency.currency }})</th>
                        <th>Amount ({{ currentOrderBook.baseCurrency.currency }})</th>
                        <th>Depth ({{ currentOrderBook.baseCurrency.currency }})</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="priceLevel in currentBids">
                        <td>{{ priceLevel.price | roundedAmount:precision }}</td>
                        <td>{{ priceLevel.amount | roundAmount:currentOrderBook.baseCurrency.currency }}</td>
                        <td>{{ priceLevel.depth | roundAmount:currentOrderBook.baseCurrency.currency }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-6">
            <div class="order-info">
                <h4 class="order-type">Asks</h4>
                (sell {{ currentOrderBook.baseCurrency.currency }} for {{ currentOrderBook.counterCurrency.currency }})
            </div>
            <p ng-hide="currentAsks.length" class="order-status">There are no current asks for this currency pair from the selected issuer yet. Make some by submitting a new trade order.</p>
            <table class="order-book-table table" ng-show="currentAsks.length">
                <thead>
                    <tr>
                        <th>Price ({{ currentOrderBook.baseCurrency.currency }}/{{ currentOrderBook.counterCurrency.currency }})</th>
                        <th>Amount ({{ currentOrderBook.baseCurrency.currency }})</th>
                        <th>Depth ({{ currentOrderBook.baseCurrency.currency }})</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="priceLevel in currentAsks">
                        <td>{{ priceLevel.price | roundedAmount:precision }}</td>
                        <td>{{ priceLevel.amount | roundAmount:currentOrderBook.baseCurrency.currency }}</td>
                        <td>{{ priceLevel.depth | roundAmount:currentOrderBook.baseCurrency.currency }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>