<div class="password-container" ng-controller="PasswordCtrl">
    <div class="form-group">
        <div class="errors col-sm-offset-3 col-sm-6">
            <div class="tip">{{ errors.passwordErrors.join('\n') }}</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="col-sm-3">PASSWORD</label>
        <div class="col-sm-6">
            <div class="input-icon-wrapper">
                <input id="password" type="password" class="form-control" ng-class="{'input-error': errors.passwordErrors.length}" ng-model="data.password" ng-change="checkPassword()">
                <i class="icon icon-key"></i>
                <div class="password-strength {{ passwordScore }}" ng-class="{null: data.password == ''}">
                    <div class="block1"></div><div class="block2"></div><div class="block3"></div><div class="block4"></div>
                </div>
                <div class="description">{{ passwordStrength }}</div>
            </div>
        </div>
        <div class="col-sm-3 info">
            <i id="password-status" class="status glyphicon glyphicon-none" ng-class="passwordClass()"></i>
            <span class="tip">
                <a href="http://xkcd.com/936/" target="_blank" title="Password strength" tabindex="-1">
                    Min of 8 characters.
                </a>
            </span>
        </div>
    </div>
    <div class="form-group">
        <div class="errors col-sm-offset-3 col-sm-6">
            <div class="tip">{{ errors.passwordConfirmErrors.join('\n') }}</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password-confirmation" class="col-sm-3">CONFIRM PASSWORD</label>
        <div class="col-sm-6">
            <div class="input-icon-wrapper">
                <input id="password-confirmation" type="password" class="form-control" ng-class="{'input-error': errors.passwordConfirmErrors.length}" ng-model="data.passwordConfirmation" ng-change="checkConfirmPassword()">
                <i class="icon icon-key"></i>
            </div>
        </div>
        <div class="col-sm-3 info">
            <i id="password-confirmation-status" class="status glyphicon glyphicon-none" ng-class="confirmPasswordClass()"></i>
        </div>
    </div>
</div>