<ul class="reward-list" ng-class="{active: selectedReward == null}">
    <li ng-repeat="reward in sortedRewards" ng-if="!reward.hidden" ng-class="reward.status" selected-index="selectedReward">
        <div class="reward-body" ng-click="toggleReward(reward.rewardType)">
            <i ng-class="rewardStatusIcons[reward.status]"></i>
            <span class="reward-step" ng-show="reward.rewardType == 1">
            	<span class="step-label" translate>Next Step</span>
            </span>
            <span class="reward-title">{{ reward.error.panel || reward.title }}</span>
            <span class="subtitle" ng-show="reward.subtitle || reward.getSubtitle()">{{reward.subtitle || reward.getSubtitle()}}</span>
        </div>
    </li>
</ul>