<ul class="reward-list" ng-class="{active: selectedReward == null}">
    <li ng-repeat="reward in sortedRewards" ng-if="!reward.hidden" ng-class="reward.status" selected-index="selectedReward">
        <div class="reward-body" ng-click="toggleReward(reward.rewardType)">
            <i ng-class="rewardStatusIcons[reward.status]"></i>
            <span class="reward-step" ng-show="reward.rewardType == 1 && reward.status != 'sent'">
                <span class="step-label">Next Step</span>
            </span>
            <span class="reward-title">{{reward.error.panel || reward.getCopy().title}}</span>
            <span class="subtitle">{{reward.getCopy().subtitle}}</span>
        </div>
    </li>
</ul>