<div class="reward-page" ng-class="{active: selectedReward == reward.rewardType, error: reward.error}">
    <div class="pane-close" ng-click="closeReward()">
        <span>{{'global.close' | translate}}</span>
        <i class="icon icon-times-circle-thin"></i>
    </div>
    <div class="reward-page-title">
        <i class="icon icon-lock"></i>
        <span>{{ reward.innerTitle }}</span>
    </div>

    <div ng-hide="reward.error">
        <div class="content" ng-class="{active: reward.status == 'incomplete' || reward.status == 'pending' || reward.status == 'unverified' || reward.status == 'ineligible'}">
            <div ng-include="reward.template"></div>
        </div>

        <div class="content awaiting-payout" ng-class="{active: reward.status == 'needs_fbauth'}">
            <div class="body">
                {{'rewards.happy_day' | translate}}
            </div>
            <div class="info">
                {{'rewards.almost_there' | translate}}
            </div>
            <button class="stellar-button btn btn-default" ng-click="toggleReward(1)">{{'rewards.continue' | translate}}</button>
        </div>

        <div class="content sent" ng-class="{active: reward.status == 'reward_queued' || reward.status == 'sending' || reward.status == 'reward_error'}">
            <div class="body">
                {{'rewards.you_are_in_the_queue' | translate}}
            </div>
            <button class="stellar-button btn btn-default" ng-click="closeReward()">{{'rewards.continue' | translate}}</button>
        </div>

        <div class="content sent" ng-class="{active: reward.status == 'sent'}">
            <div class="body">
                {{'rewards.you_did_it' | translate}}
            </div>
            <button class="stellar-button btn btn-default" ng-click="closeReward()">{{'rewards.continue' | translate}}</button>
        </div>

        <div class="content sent" ng-class="{active: reward.status == 'ready'}">
            <div class="body">
                {{'rewards.reward_ready_to_be_claimed' | translate}}
            </div>
            <button class="stellar-button btn btn-default" ng-disable="claimRewards.isLoading()" ng-click="claimRewards()">
                {{ claimRewards.isLoading() ? ('global.loading' | translate) : ('global.claim_now' | translate) }}
            </button>
        </div>
    </div>

    <div class="error" ng-class="{active: reward.error}" ng-show="reward.error">
        <div class="body">
            {{'rewards.oops' | translate}}
        </div>
        <div class="info">
            <div ng-include="reward.error.template" ng-show="reward.error && reward.error.template"></div>
            {{ reward.error.info }}
        </div>
        <div ng-include src="'templates/reward-error-button.html'"></div>
    </div>
</div>
