<div class="reward-page" ng-class="{active: selectedReward == reward.rewardType, error: reward.error}">
    <div class="pane-close" ng-click="closeReward()">
        <span>Close</span>
        <i class="icon icon-times-circle-thin"></i>
    </div>
    <div class="reward-page-title">
        <i class="icon icon-lock"></i>
        <span>{{ reward.innerTitle }}</span>
    </div>

    <div ng-hide="reward.error">
        <div class="content" ng-class="{active: reward.status == 'incomplete' || reward.status == 'pending' || reward.status == 'unverified' || reward.status == 'ineligible' || reward.status == 'updated_too_recently'}">
            <div ng-include="reward.template"></div>
        </div>

        <div class="content awaiting-payout" ng-class="{active: reward.status == 'needs_fbauth'}">
            <div ng-switch="reward.rewardType">
                <div ng-switch-when="2">
                    <div class="body">
                        Password recovery activated
                    </div>
                    <div class="info">
                        Please store your recovery code in a safe place as you will need it to recover your account if you forget your password.
                    </div>
                </div>
                <div ng-switch-default>
                    <div class="body">
                        Oh, happy day!
                    </div>
                    <div class="info">
                        Almost there - log in with Facebook to get your stellars.
                    </div>
                </div>
            </div>
            <button class="btn btn-default" ng-click="toggleReward(1)">Continue</button>
        </div>

        <div class="content sent" ng-class="{active: reward.status == 'reward_queued' || reward.status == 'sending' || reward.status == 'reward_error'}">
            <div class="body" >
                Your stellars are on the way!
            </div>
        </div>

        <div class="content sent" ng-class="{active: reward.status == 'sent' || reward.status == 'ready'}">
            <div class="body">
                You did it! Your stellars are on the way!
            </div>
            <button class="btn btn-default" ng-click="closeReward()">Continue</button>
        </div>
    </div>

    <div class="error" ng-class="{active: reward.error}" ng-show="reward.error">
        <div class="body">
            Oops!
        </div>
        <div class="info">
            <div ng-include="reward.error.template" ng-show="reward.error && reward.error.template"></div>
            {{ reward.error.info }}
        </div>
        <div ng-include src="'templates/reward-error-button.html'"></div>
    </div>
</div>
