<div class="reward-pane ng-hide" ng-show="showRewards" ng-controller="RewardPaneCtrl">
    <div>
        <div>
            <div class="title">Receive new Stellars</div>
            <ul class="rewardProgress">
                <li ng-repeat="item in rewardProgress track by $index" ng-class="item" >
                    <i ng-class="rewardStatusIcons[item]"></i>
                </li>
            </ul>
            <ul class="rewards">
                <li ng-repeat="reward in rewards" ng-class="reward.status" click-outside="closeReward()" selected-index="selectedReward" index="{{ $index }}">
                    <div class="reward-body" ng-click="toggleReward($index)">
                        <i ng-class="rewardStatusIcons[reward.status]"></i>
                        <span>{{ reward.message }}</span>
                    </div>
                    <div class="pop-action" ng-if="reward.status !== 'complete'" ng-class="{hide: selectedReward !== $index}">
                        <div class="pop-top">
                            <p class="title">{{ reward.action.title }}</p>
                            <p class="message">{{ reward.action.message }}</p>
                        </div>
                        <div class="pop-bottom">
                            <div class="switch" ng-click="reward.action.start()">
                                <div class="knob"></div>
                            </div>
                            <span class="info">{{ reward.action.info }}</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>