<div class="reward-pane ng-hide" ng-show="showRewards">
    <div>
        <div class="title">Receive new Stellars</div>
        <ul class="rewardProgress">
            <li ng-repeat="item in rewardProgress track by $index" ng-class="item">
                <i ng-class="rewardStatusIcons[item]"></i>
            </li>
        </ul>
        <ul class="rewards">
            <li ng-repeat="reward in rewards" ng-class="reward.status">
                <i ng-class="rewardStatusIcons[reward.status]"></i>
                {{ reward.message }}
            </li>
        </ul>
    </div>
</div>