<div class="info">
	<h2 bind-once translate>Send your first <strong>{{sendStellars}}</strong> - receive <strong>{{receiveStellars}}</strong> in return.</h2>
	<small bind-once translate>If you're looking for a recipient, <a href="{{recipients[0].url}}">{{recipients[0].name}}</a> or these nonprofits, <a href="{{recipients[1].url}}">{{recipients[1].name}}</a>, or <a href="{{recipients[2].url}}">{{recipients[2].name}}</a>, accept stellars. Just type their name into Send. </small>
</div>

<div class="send-stellar">
    <img src="../images/right-up-arrow.svg" class="send-arrow"/>
    <button class="btn btn-default" ng-click="sendTutorial()" translate>Get started now!</button>
</div>
