<div ng-controller="SendFormController">
    <form name="sendForm" role="form" class="form-horizontal">
        <div class="form-group send-address">
            <label for="recipient" class="col-md-2">SEND TO</label>
            <div class="col-md-6 input-icon-wrapper">
                <input name="recipient" type="text" class="form-control stellar-input" ng-model="sendFormModel.recipient"/>
                <i class="glyphicon glyphicon-globe"></i>
            </div>
            <div class="col-md-4 tip">Stellar name or address.</div>
        </div>
        <div class="form-group" ng-show="showDestinationTag">
            <label for="destinationTag" class="col-sm-3">DESTINATION TAG</label>
            <div class="col-md-6">
                <input name="destinationTag" ng-model="sendFormModel.destinationTag" type="text" class="form-control"/>
            </div>
            <div class="col-md-3 tip">
            Recipient requires a destination tag to be specified for the transaction. If you don't know the
            destination tag, please contact them before doing a transaction.
            </div>
        </div>
        <div class="form-group">
            <label for="amount" class="col-md-2">AMOUNT</label>
            <div class="col-md-4 send-amount">
                <input name="amount" type="number" min="0" class="form-control" ng-model="sendFormModel.amount"/>
            </div>
            <div class="col-md-2">
                <select name="currency" ng-init="sendFormModel.currency = sendFormModel.currency || send.currency_choices[0]" ng-model="sendFormModel.currency" ng-options="value.value for value in send.currency_choices">
                </select>
            </div>
            <div class="col-md-4 tip">Type in the amount and currency to send.</div>
        </div>
        <p>You can send {{send.amount.to_human()}} {{send.amount._currency.to_human()}} using:</p>
        <div class="row">
            <ul class="currencies-list">
                <li ng-repeat="path in send.paths" class="currency-box">
                    <h5>{{ path.amount_human }}</h5>
                    <p>{{ path.currency_human }}</p>
                    <div class="account-container">
                        <p>{{ issuer_human }}</p>
                    </div>
                    <button class="btn btn-default submit" ng-click="sendPropose(path)">Send</button>
                </li>
            </ul>
        </div>
    </form>
</div>