<div class="info">
	<h2 translate>Send your first <strong>{{sendStellars}}</strong> - receive <strong>{{receiveStellars}}</strong> in return.</h2>
	<small translate>If you're looking for a recipient, <a href="http://stellartalk.org/">StellarTalk.org</a> or these nonprofits, <a href="http://www.bravenewsoftware.org/">bravenewsoftware</a>, or <a href="http://www.missionbit.com/">missionbit</a>, accept stellars. Just type their name into Send. </small>
</div>

<div class="send-stellar">
    <img src="../images/right-up-arrow.svg" class="send-arrow"/>
    <button class="btn btn-default" ng-click="sendTutorial()" translate>Get started now!</button>
</div>
