
<div class="send-pane pane" ng-controller="SendPaneCtrl" ng-class="paneState()">
<div class="pane-close" ng-click="closePane()">
    <span>{{'global.close' | translate}}</span>
    <i class="icon icon-times-circle-thin"></i>
</div>
<div l10n="l10n" class="literal title send-title" ng-class="{'hide-text': mode!='form'}">{{'send.send_stellars' | translate}}</div>
<group ng-show="mode=='disconnected'" class="send-error disconnected">
    <p l10n="l10n" class="literal">{{'send.you_have_to_be_online' | translate}}</p>
</group>
<div ng-show="mode=='unfunded'" class="send-error unfunded">
    <p l10n="l10n" class="literal">{{'send.you_have_to_be_funded' | translate}}</p>
</div>
<form name="sendForm" role="form" ng-show="mode=='form'" ng-submit="send_prepared()" class="stellar-form">
    <div class="row form-group">
        <div class="row">
            <div rp-errors="send_destination" class="errors col-sm-offset-3 col-sm-6">
                <div rp-error-valid ng-show="send.recipient != send.recipient_address" class="success tip">
                    {{'send.wallet_address_found' | translate}}: {{send.recipient_address}}<span ng-show="send.dt">?dt={{send.dt}}</span>
                </div>
                <div rp-error-on="required" l10n="l10n" class="tip">{{'send.enter_recipient' | translate}}</div>
                <div rp-error-on="rpDest" l10n="l10n" class="tip">{{'send.recipient_should_be_name_or_address' | translate}}</div>
                <div rp-error-on="federation" l10n="l10n" class="tip">{{'send.person_not_on_stellar' | translate}}</div>
            </div>
        </div>
        <div class="row">
            <label for="send_destination" l10n="l10n" class="col-sm-3">{{'send.send_to' | translate | uppercase}}</label>
            <div class="col-sm-6 send-address right-inner-addon">
                <input id="send_destination" name="send_destination" type="text" rp-combobox="recipient_query" ng-class="{error: required || rpDest || federation}" ng-model="send.recipient" rp-dest="rp-dest" rp-dest-address="rp-dest-address" rp-dest-contact="rp-dest-contact" rp-dest-bitcoin="rp-dest-bitcoin" rp-dest-email="rp-dest-email" required="required" rp-autofill="$routeParams.to" rp-focus="rp-focus" class="form-control stellar-input"/>
                <i class="glyphicon glyphicon-globe"></i>
            </div>
            <div class="col-sm-3 tip">{{'send.send_to_info' | translate}}</div>
        </div>
    </div>
    <div class="row form-group" ng-show="send.show_dt_field" >
        <label for="send_dt" l10n="l10n" class="col-sm-3">{{'send.destination_tag' | translate}}</label>
        <div class="col-sm-6">
            <input id="send_dt" name="send_dt" type="text" ng-model="send.dt" rp-stdt="rp-stdt" rp-autofill="$routeParams.dt" ng-required="send.recipient_info.dest_tag_required" class="form-control"/>
        </div>
        <div rp-errors="send_dt" class="errorGroup">
            <div rp-error-on="rpStdt" l10n="l10n" class="error">{{'send.invalid_destination_tag' | translate}}</div>
            <div rp-error-on="required" l10n="l10n" class="error">{{'send.destination_cannot_be_blank' | translate}}</div>
        </div>
        <div id="dest-tag-desc" ng-show="send.recipient_info.dest_tag_required" l10n="l10n" class="col-sm-3 tip">
            {{'send.destination_tag_info' | translate}}
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div rp-errors="send_amount" class="errors col-sm-offset-3 col-sm-6">
                <div rp-error-on="required" l10n="l10n" class="tip">{{'send.enter_amount' | translate}}</div>
                <div rp-error-on="rpAmount" l10n="l10n" class="tip">{{'send.not_valid_amount' | translate}}</div>
                <div rp-error-on="rpAmountPositive" l10n="l10n" class="tip">{{'send.amount_must_be_greater_than_0' | translate}}</div>
                <div rp-error-on="rpMaxAmount" l10n="l10n" class="tip">
                    <!--{{'send.transaction_exceeds_your_balance' | translate:'{maxSpend: account.max_spend | rpamount:{rel_precision: 0} }'}}-->
                </div>
                <div ng-show="send.recipient_info.disallow_xtr && send.currency_code=='STR'" l10n="l10n" class="tip">{{'send.recipient_does_not_allow_stellar' | translate}}</div>
                <div ng-show="send.trust_limit" l10n="l10n" class="success tip">
                    <!--{{'send.recipient_trust_you_for' | translate:'{recipient: (send.recipient | rpcontactname), trustLimit: "{{send.trust_limit | rpamount}} {{send.trust_limit | rpcurrency}}"}'}}-->
                </div>
            </div>
        </div>
        <div class="row">
            <label for="send_amount" l10n="l10n" class="col-sm-3">{{'send.amount' | translate | uppercase}}</label>
                <div class="col-sm-6 send-amount right-inner-addon">
                    <input id="send_amount" name="send_amount" type="text" ng-model="send.amount" required="required" rp-autofill="$routeParams.amount" rp-autofill-amount="rp-autofill-amount" rp-amount="rp-amount" rp-amount-positive="rp-amount-positive" rp-amount-xtr-limit="rp-amount-xtr-limit" rp-amount-xtr-limit-currency="{{send.currency}}" class="form-control stellar-input"/>
                    <i>STR</i>
                </div>
                <div class="col-sm-3 tip">{{'send.amount_info' | translate}}</div>
        </div>
    </div>
    <div ng-show="$routeParams.st || send.st" class="row form-group">
        <label for="send_st" l10n="l10n" class="col-sm-3">{{'send.source_tag' | translate}}</label>
        <div class="col-sm-6">
            <input id="send_st" name="send_st" type="text" ng-model="send.st" rp-stdt="rp-stdt" rp-autofill="$routeParams.st" class="form-control"/>
        </div>
        <div rp-errors="send_st" class="errorGroup">
            <div rp-error-on="rpStdt" l10n="l10n" class="error">{{'send.invalid_source_tag' | translate}}</div>
        </div>
    </div>
    <div ng-repeat="field in send.extra_fields" ng-switch="field.type" class="row form-group">
        <div ng-switch-when="text">
            <label ng-bind="field.label" class="col-sm-3"></label>
            <p ng-show="field.hint" ng-bind="field.hint" class="field-hint"></p>
            <div class="col-sm-6">
                <input type="text" ng-model="field.value" ng-required="{{field.required}}" class="form-control"/>
            </div>
        </div>
        <div ng-switch-when="select">
            <label ng-bind="field.label" class="col-sm-3"></label>
            <p ng-show="field.hint" ng-bind="field.hint" class="field-hint"></p>
            <div class="col-sm-6">
                <select type="text" ng-model="field.value" ng-required="{{field.required}}" class="form-control">
                    <option ng-repeat="option in field.options" ng-bind="option.label" value="{{option.value}}" ng-selected="option.selected" ng-disabled="option.disabled"></option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 send-form-status-container">
            <p ng-show="send.fund_status == 'insufficient-xtr'" class="send-form-status">
                {{'send.destination_account_unfunded' | translate:'{xtrDeficiency: send.xtr_deficiency | rpamount}'}}
                <a href="https://www.stellar.org/glossary/#Reserves" target="_blank" l10n="l10n">{{'send.more_information' | translate}}</a>
            </p>
            <p ng-show="account.max_spend.to_number() < send.amount * 1000000" l10n="l10n" class="send-form-status">
                {{'send.you_need_minimum_balance_to_send' | translate:'{stellars: 20}'}} <a href="https://www.stellar.org/glossary/#Reserves" target="_blank" l10n="l10n">{{'send.more_information' | translate}}</a>
            </p>
            <p ng-show="send.path_status == 'checking'" class="send-form-status">{{'send.checking' | translate}}</p>
            <p ng-show="send.path_status == 'fed-check'" class="send-form-status">{{'send.analyzing_address' | translate}}</p>
            <p ng-show="send.path_status == 'bridge-quote'" class="send-form-status">{{'send.requesting_quote' | translate}}</p>
            <p ng-show="send.path_status == 'pending' && send.currency_code != 'STR'" class="send-form-status">{{'send.calculating_paths' | translate}}</p>

            <p ng-show="send.path_status == 'no-path' && send.currency_code != 'STR'" class="send-form-status">
                {{'send.cannot_send' | translate:'{amount: send.amount, currency: send.currency, recipient: send.recipient}'}}
            </p>

            <p ng-show="send.path_status == 'error-quote'" class="send-form-status">{{'send.error_retrieving_quote_for_outbound_payment' | translate}} <span ng-show="send.quote_error"> {{'send.outbound_bridge_reported' | translate:'{quoteError: send.quote_error | rpheavynormalize}'}}</span></p>
            <p ng-show="send.path_status == 'error'" class="send-form-status">{{'send.error_calculating_path' | translate}}</p>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-offset-3 col-sm-6 " ng-show="send.currency_code == 'STR'">
                <button type="submit" ng-disabled="sendForm.$invalid || send.self || !send.recipient_resolved || account.max_spend.to_number() < send.amount * 1000000 || send.fund_status !== 'none'" l10n="l10n" class="btn btn-default submit stellar-button">{{'send.send' | translate}}</button>
            </div>
        </div>
    </div>

</form>
<group ng-show="mode=='wait_path'" class="mode-wait-path">
    <p rp-spinner="4" l10n="l10n" class="literal">{{'send.calculating_path' | translate}}</p>
</group>
<group ng-show="mode=='confirm'" class="mode-confirm">
    <div>
        <p l10n="l10n" class="literal info">{{'send.you_are_sending' | translate}}</p>
        <p class="amount_feedback"><span class="value">{{send.amount_feedback | rpamount:{ floor: false } }}&#32;</span><span class="currency">{{send.amount_feedback | rpcurrency}}</span></p>
        <p l10n="l10n" class="literal info">{{'send.to' | translate}}</p>
        <div class="dest_feedback">
            <div ng-show="send.recipient_name" class="recipient-name">{{send.recipient_name}}</div>
            <div class="input-icon-wrapper">
                <input class="recipient-address" value="{{send.recipient_address}}{{send.dt ? '?dt=' + send.dt : ''}}" disabled>
                <i class="glyphicon glyphicon-globe"></i>
            </div>
        </div>
        <group ng-show="send.indirect">
            <p l10n="l10n" class="literal">{{'send.you_will_pay_at_most' | translate}}</p>
            <p class="sendmax_feedback"><span class="value">{{send.alt.amount | rpamount}}&#32;</span><span class="currency">{{send.alt.amount | rpcurrency}} &#32;</span><span>&plusmn; 1%</span></p>
        </group>
        <div class="call-to-action">
            <div class="row row-padding-small">
                <div class="">
                    <button type="submit" ng-click="send_confirmed()" ng-disabled="confirm_wait" l10n="l10n" class="btn btn-default stellar-button">{{'send.confirm_transaction' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
    <button ng-click="cancelConfirm()" l10n="l10n" class="btn btn-block btn-default stellar-button change-button">{{'send.change' | translate}}</button>
</group>
<group ng-show="mode=='sending'" class="mode-sending">
    <img class="sending-rocket" src="./images/sending.gif"/>
    <p rp-spinner="4" l10n="l10n" class="literal">{{'send.sending_transaction' | translate}}</p>
    <hr/>
    <p>
        <button ng-click="reset()" l10n="l10n" class="btn btn-default">{{'send.stop_waiting' | translate}}</button>
    </p>
</group>
<group ng-show="mode=='error'" class="mode-error">
    <group ng-switch on="error_type">
        <group ng-switch-when="noDest" class="result-error">
            <h2 l10n="l10n" class="tx-status">{{'send.destination_does_not_exist' | translate}}</h2>
            <p l10n="l10n">{{'send.destination_does_not_exist_info' | translate}}</p>
        </group>
        <group ng-switch-when="noPath" class="result-error">
            <h2 l10n="l10n" class="tx-status">{{'send.no_path' | translate}}</h2>
            <p l10n="l10n">{{'send.no_path_info' | translate}}</p>
        </group>
        <group ng-switch-when="invalidTransaction" class="result-error">
            <h2 l10n="l10n" class="tx-status">{{'send.invalid_transaction' | translate}}</h2>
            <p l10n="l10n">{{'send.invalid_transaction_info' | translate}}</p>
        </group>
        <group ng-switch-default="ng-switch-default">
            <p l10n="l10n" class="literal">
                {{'send.error_during_transaction' | translate}}
            </p>
            <p l10n="l10n" class="literal">{{'send.error_during_transaction_info' | translate}}</p>
        </group>
    </group>
    <p>
        <button ng-click="cancelConfirm()" l10n="l10n" class="btn btn-default">&laquo; {{'global.back' | translate}}</button>
    </p>
</group>

<div ng-show="mode=='stellarerror'" class="modalStatus error-modalStatus">
    <div class="modalStatus-title">{{'global.oops' | translate}}</div>
    <div class="modalStatus-info">{{error_message}}</div>
    <button class="btn btn-default btn-stellar modalStatus-btn" ng-click="tryAgain()">{{'global.try_again' | translate}}</button>
</div>

<div ng-show="mode=='status'" class="modalStatus">
    <group ng-show="tx_result=='pending'" class="pending">
        <img class="sending-rocket" src="./images/sending.gif"/>
        <h2 l10n="l10n" class="tx-status">{{'send.transaction_submitted' | translate}}</h2>
        <p l10n="l10n">{{'send.transaction_submitted_info' | translate}}</p>
    </group>
    <div ng-show="tx_result=='cleared'" class="result-success">
        <i class="icon icon-check-circle-thin modalStatus-icon"></i>
        <p class="modalStatus-title">{{'send.transaction_cleared' | translate}}</p>
    </div>
    <group ng-show="tx_result=='partial'" class="result-partial">
        <h2 l10n="l10n" class="tx-status">{{'send.transaction_partially_valid' | translate}}</h2>
        <p l10n="l10n">{{'send.transaction_partially_valid_info' | translate}}</p>
    </group>
    <group ng-show="tx_result=='error'" class="result-error">
        <h2 l10n="l10n" class="tx-status">{{'send.transaction_not_submitted' | translate}}</h2>
        <p l10n="l10n">
            {{'send.transaction_not_submitted_info' | translate}}
        </p>
    </group>
    <group ng-show="tx_result=='malformed'" class="result-malformed">
        <h2 l10n="l10n" class="tx-status">{{'send.transaction_malformed' | translate}}</h2>
        <p ng-switch on="engine_result"><span ng-switch-default="ng-switch-default" l10n="l10n">{{'send.transaction_invalid_info' | translate:'{engine_result: engine_result, engine_result_message: engine_result_message}'}}</span></p>
    </group>
    <group ng-show="tx_result=='failure'" class="result-malformed">
        <h2 l10n="l10n" class="tx-status">{{'send.transaction_malformed' | translate}}</h2>
        <p ng-switch on="engine_result"><span ng-switch-when="tefDST_TAG_NEEDED" l10n="l10n">{{'send.transaction_malformed_info' | translate}}</span></p>
    </group>
    <group ng-show="tx_result=='local'" class="result-failed">
        <h2 l10n="l10n" class="tx-status">{{'send.transaction_failed' | translate}}</h2>
        <p ng-switch on="engine_result"><span ng-switch-when="telINSUF_FEE_P" l10n="l10n">{{'send.transaction_failed_info' | translate}}</span></p>
    </group>
    <group ng-show="tx_result=='claim'" class="result-malformed">
        <h2 l10n="l10n" class="tx-status">{{'send.transaction_failed' | translate}}</h2>
        <p ng-switch on="engine_result"><span ng-switch-when="tecNO_DST" l10n="l10n">{{'send.destination_account_does_not_exist' | translate}}</span><span ng-switch-when="tecNO_DST_INSUF_XRP" l10n="l10n">{{'send.destination_account_does_not_exist_too_little_str' | translate}}</span><span ng-switch-default="ng-switch-default" l10n="l10n">{{'global.error' | translate}}: {{engine_result_message}}</span></p>
    </group>
    <group ng-show="tx_result=='failed'" class="result-failed">
        <h2 l10n="l10n" class="tx-status">{{'send.transaction_failed' | translate}}</h2>
        <p ng-switch on="engine_result"><span ng-switch-when="terNO_LINE" l10n="l10n">{{'send.no_trust_line_in_currency' | translate}}</span><span ng-switch-default="ng-switch-default" l10n="l10n">{{'send.transaction_failed_to_clear' | translate:'{reason: engine_result_message}'}}</span></p>
    </group>

    <button ng-show="tx_result=='cleared'" class="btn btn-default btn-stellar modalStatus-btn" ng-click="reset()">
        <i class="icon icon-send"></i>
        {{'send.send_another_payment' | translate}}
    </button>
</div>
</div>





