<div ng-controller="SendFormController">
    <form name="sendForm" role="form" class="form-horizontal">
        <div class="form-group send-address">
            <label for="recipient" class="col-md-2">SEND TO</label>
            <div class="col-md-6 input-icon-wrapper">
                <input id="recipient" name="recipient" type="text" class="form-control" spellcheck="false" ng-model="sendFormModel.recipient"/>
                <i class="glyphicon glyphicon-globe"></i>
            </div>
            <div class="col-md-4 tip">Stellar name or address.</div>
        </div>
        <div class="form-group send-destination" ng-show="showDestinationTag()">
            <label for="destinationTag" class="col-md-2">DESTINATION TAG</label>
            <div class="col-md-6">
                <input name="destinationTag" ng-model="sendFormModel.destinationTag" type="text" class="form-control"/>
            </div>
            <div class="col-md-4 tip">
            Recipient requires a destination tag to be specified for the transaction. If you don't know the
            destination tag, please contact them before doing a transaction.
            </div>
        </div>
        <div class="form-group send-amount">
            <label for="amount" class="col-md-2">AMOUNT</label>
            <div class="col-md-4 send-amount-input">
                <input id="amount" name="amount" type="text" class="form-control" ng-model="sendFormModel.amount"/>
            </div>
            <div class="col-md-2">

                <div class="input-group">
                    <input type="text" class="form-control" ng-model="sendFormModel.currency">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" ng-click="setOverflowVisible()"><span class="caret"></span></button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li ng-init="sendFormModel.currency = sendFormModel.currency || send.currencyChoices[0]" ng-repeat="value in send.currencyChoices"><a href="#" ng-click="changeCurrency(value)">{{value}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 tip">Type in the amount and currency to send.</div>
        </div>
        <div class="row">
            <div class="col-md-offset-3 col-md-4 send-form-status-container">
                <p ng-show="send.pathStatus == 'insufficient-reserve'" class="send-form-status">
                    You need a minimum balance of {{ send.reserve | rpamount }} Stellars to send. <a href="https://www.stellar.org/faq/#_Why_is_there_a_minimum_balance" target="_blank" >More information</a>
                </p>
                <p ng-show="send.pathStatus == 'destination-unfunded'" class="send-form-status">
                    Destination account is unfunded; send at least
                    {{send.minimumAmount | rpamount}} STR to fund it.
                    <a href="https://www.stellar.org/faq/#_Why_is_there_a_minimum_balance" target="_blank" >More information</a>
                </p>
                <p ng-show="send.pathStatus == 'checking-destination'" class="send-form-status">Finding account...</p>
                <p ng-show="send.pathStatus == 'paths-loading'" class="send-form-status">Finding paths...</p>
                <p ng-show="send.pathStatus == 'paths-empty'" class="send-form-status">
                    Unable to find a path to send {{send.amount.to_human()}} {{send.amount._currency.to_human()}} to
                    {{send.destination.federatedName || send.destination.address}}.
                </p>
                <p ng-show="send.pathStatus == 'error'" class="send-form-status">Error while calculating path.</p>
            </div>
        </div>
        <p ng-show="send.pathStatus == 'paths-loaded'">You can send {{send.amount | amountToHuman }} {{send.amount._currency.to_human()}} using:</p>
        <div class="row" ng-show="send.pathStatus == 'paths-loaded'">
            <ul class="currencies-list">
                <li ng-repeat="path in send.paths track by path.issuer_currency" class="currency-box">
                    <h5>{{ path.amount | amountToHuman }}</h5>
                    <p>{{ path.currency_human }}</p>
                    <p class="rate" ng-show="path.currency_human != send.currency">{{ path.rate | amountToHuman }} {{ path.currency_human }} / 1 {{ send.currency }}</p>
                    <div class="account-container">
                        <p>{{ issuer_human }}</p>
                    </div>
                    <button class="btn btn-default btn-primary submit" ng-click="sendPropose(path)">Send</button>
                </li>
            </ul>
        </div>
    </form>
</div>
