
<div class="send-pane pane" ng-controller="SendPaneCtrl" ng-class="paneState()">
<div class="pane-close" ng-click="closePane()">
    <span>Close</span>
    <i class="icon icon-times-circle-thin"></i>
</div>
<div l10n="l10n" class="literal title send-title" ng-class="{'hide-text': mode!='form'}">Send Stellars</div>
<group ng-show="mode=='disconnected'" class="send-error disconnected">
    <p l10n="l10n" class="literal">You have to be online to see this screen</p>
</group>
<div ng-show="mode=='unfunded'" class="send-error unfunded">
    <p l10n="l10n" class="literal">You have to be funded before you can send money</p>
</div>
<form name="sendForm" role="form" ng-show="mode=='form'" ng-submit="send_prepared()" class="stellar-form">
    <div class="row form-group">
        <div rp-errors="send_destination" class="errors col-sm-12">
            <div rp-error-valid ng-show="recipientFederation()" class="success tip col-sm-offset-3 col-sm-6">wallet address found: {{ recipientFederation() }}</div>
            <div rp-error-on="required" l10n="l10n" class="tip col-sm-offset-3 col-sm-3">Please enter a recipient.</div>
            <div rp-error-on="rpDest" l10n="l10n" class="tip col-sm-offset-3 col-sm-3">Recipient should be either a name from your contact list or Stellar/Bitcoin address.</div>
            <div rp-error-on="federation" l10n="l10n" class="tip col-sm-offset-3 col-sm-3">This person isn't on Stellar yet.</div>
        </div>
        <label for="send_destination" l10n="l10n" class="col-sm-3">SEND TO</label>
        <div class="col-sm-6 send-address right-inner-addon">
            <input id="send_destination" name="send_destination" type="text" rp-combobox="recipient_query" ng-class="{error: required || rpDest || federation}" ng-model="send.recipient" rp-dest="rp-dest" rp-dest-address="rp-dest-address" rp-dest-contact="rp-dest-contact" rp-dest-bitcoin="rp-dest-bitcoin" rp-dest-email="rp-dest-email" required="required" rp-autofill="$routeParams.to" rp-focus="rp-focus" class="form-control stellar-input"/>
            <i class="glyphicon glyphicon-globe"></i>
        </div>
        <div class="col-sm-3 tip">Stellar name or address.</div>
    </div>
    <div class="form-group">
        <div rp-errors="send_amount" class="errors col-sm-12">
            <div rp-error-on="required" l10n="l10n" class="tip col-sm-offset-6 col-sm-3">Please enter an amount.</div>
            <div rp-error-on="rpAmount" l10n="l10n" class="tip col-sm-offset-3 col-sm-6">Not a valid amount. Please enter a value greater than 0.000001</div>
            <div ng-show="send.recipient_info.disallow_xtr && send.currency_code=='STR'" l10n="l10n" class="tip col-sm-offset-6 col-sm-3">Recipient does not allow STR payments. Are you sure you want to send STR anyway?</div>
            <div ng-show="send.trust_limit" l10n="l10n" class="success tip col-sm-offset-6 col-sm-3">
                {{send.recipient | rpcontactname}}
                trusts you for {{send.trust_limit | rpamount}} {{send.trust_limit | rpcurrency}}.
            </div>
        </div>
        <label for="send_amount" l10n="l10n" class="col-sm-3">AMOUNT</label>
        <div class="row amount">
            <div class="col-sm-6 send-amount right-inner-addon">
                <input id="send_amount" name="send_amount" type="text" ng-model="send.amount" required="required" rp-autofill="$routeParams.amount" rp-autofill-amount="rp-autofill-amount" rp-amount="rp-amount" rp-amount-positive="rp-amount-positive" rp-amount-xtr-limit="rp-amount-xtr-limit" rp-amount-xtr-limit-currency="{{send.currency}}" class="form-control stellar-input"/>
                <i>STR</i>
            </div>
            <div class="col-sm-3 tip">Type in the amount to send.</div>
        </div>
    </div>
    <div ng-show="send.show_dt_field" class="row form-group">
        <label for="send_dt" l10n="l10n" class="col-sm-3">Destination tag</label>
        <div class="col-sm-6">
            <input id="send_dt" name="send_dt" type="text" ng-model="send.dt" rp-stdt="rp-stdt" rp-autofill="$routeParams.dt" ng-required="send.recipient_info.dest_tag_required" class="form-control"/>
        </div>
        <div rp-errors="send_dt" class="errorGroup">
            <div rp-error-on="rpStdt" l10n="l10n" class="error">Invalid destination tag</div>
            <div rp-error-on="required" l10n="l10n" class="error">Destination cannot be blank.</div>
        </div>
        <div ng-show="send.recipient_info.dest_tag_required" l10n="l10n">
            Recipient requires a destination tag to be specified for the transaction. If you don't know the
            destination tag, please contact them before doing a transaction.
        </div>
    </div>
    <div ng-show="$routeParams.st || send.st" class="row form-group">
        <label for="send_st" l10n="l10n" class="col-sm-3">Source tag</label>
        <div class="col-sm-6">
            <input id="send_st" name="send_st" type="text" ng-model="send.st" rp-stdt="rp-stdt" rp-autofill="$routeParams.st" class="form-control"/>
        </div>
        <div rp-errors="send_st" class="errorGroup">
            <div rp-error-on="rpStdt" l10n="l10n" class="error">Invalid source tag</div>
        </div>
    </div>
    <div ng-repeat="field in send.extra_fields" ng-switch="field.type" class="row form-group">
        <div ng-switch-when="text">
            <label ng-bind="field.label" class="col-sm-3"></label>
            <p ng-show="field.hint" ng-bind="field.hint" class="field-hint"></p>
            <div class="col-sm-6">
                <input type="text" ng-model="field.value" ng-required="{{field.required}}" class="form-control"/>
            </div>
        </div>
        <div ng-switch-when="select">
            <label ng-bind="field.label" class="col-sm-3"></label>
            <p ng-show="field.hint" ng-bind="field.hint" class="field-hint"></p>
            <div class="col-sm-6">
                <select type="text" ng-model="field.value" ng-required="{{field.required}}" class="form-control">
                    <option ng-repeat="option in field.options" ng-bind="option.label" value="{{option.value}}" ng-selected="option.selected" ng-disabled="option.disabled"></option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 send-form-status-container">
            <p ng-show="send.fund_status == 'insufficient-xtr'" class="send-form-status">
                Destination account is unfunded; send at least
                {{send.xtr_deficiency | rpamount}} STR to fund it.
                <a href="https://www.stellar.org/glossary/#Reserves" target="_blank" l10n="l10n">More information</a>
            </p>
            <p ng-show="account.max_spend.to_number() < send.amount * 1000000" l10n="l10n" class="send-form-status">
                You need a minimum balance of 50 Stellars to send. <a href="https://www.stellar.org/glossary/#Reserves" target="_blank" l10n="l10n">More information</a>
            </p>
            <p ng-show="send.path_status == 'checking'" class="send-form-status">Checking</p>
            <p ng-show="send.path_status == 'fed-check'" class="send-form-status">Analyzing address</p>
            <p ng-show="send.path_status == 'bridge-quote'" class="send-form-status">Requesting quote</p>
            <p ng-show="send.path_status == 'pending' && send.currency_code != 'STR'" class="send-form-status">Calculating paths</p>

            <p ng-show="send.path_status == 'no-path' && send.currency_code != 'STR'" class="send-form-status">
                Sorry! Cannot send {{send.amount}} {{send.currency}} to
                {{send.recipient}}. Please make sure your account has enough funds,
                and the recipient has enough trust to the currency issuer. If it still
                doesn't work, try again later.
            </p>

            <p ng-show="send.path_status == 'error-quote'" class="send-form-status">Error while retrieving quote for outbound payment.<span ng-show="send.quote_error"> The outbound bridge reported: "{{send.quote_error | rpheavynormalize}}"</span></p>
            <p ng-show="send.path_status == 'error'" class="send-form-status">Error while calculating path</p>
        </div>
    </div>
    <div class="row">
        <div ng-show="send.currency_code == 'STR'">
            <button type="submit" ng-disabled="sendForm.$invalid || send.self || !send.recipient_resolved || account.max_spend.to_number() < send.amount * 1000000 || send.fund_status !== 'none'" l10n="l10n" class="btn btn-default submit col-sm-offset-3 col-sm-6 stellar-button">Send</button>
        </div>
    </div>

</form>
<group ng-show="mode=='wait_path'" class="mode-wait-path">
    <p rp-spinner="4" l10n="l10n" class="literal">Stellar is calculating a path for your payment.</p>
</group>
<group ng-show="mode=='confirm'" class="mode-confirm">
    <div>
        <p l10n="l10n" class="literal info">You are sending</p>
        <p class="amount_feedback"><span class="value">{{send.amount_feedback | rpamount:{ floor: false } }}&#32;</span><span class="currency">{{send.amount_feedback | rpcurrency}}</span></p>
        <p l10n="l10n" class="literal info">to</p>
        <div class="dest_feedback">
            <div ng-show="send.recipient_name" class="recipient-name">{{send.recipient_name}}</div>
            <div class="input-icon-wrapper">
                <input class="recipient-address" value="{{send.recipient_address}}" disabled>
                <i class="glyphicon glyphicon-globe"></i>
            </div>
            <div ng-show="send.dt" l10n="l10n" class="dt">Destination tag: {{send.dt}}</div>
        </div>
        <group ng-show="send.indirect">
            <p l10n="l10n" class="literal">You will pay at most</p>
            <p class="sendmax_feedback"><span class="value">{{send.alt.amount | rpamount}}&#32;</span><span class="currency">{{send.alt.amount | rpcurrency}} &#32;</span><span>&plusmn; 1%</span></p>
        </group>
        <div class="call-to-action">
            <div class="row row-padding-small">
                <div class="">
                    <button type="submit" ng-click="send_confirmed()" ng-disabled="confirm_wait" l10n="l10n" class="btn btn-default stellar-button">Confirm transaction</button>
                </div>
            </div>
        </div>
    </div>
    <button ng-click="cancelConfirm()" l10n="l10n" class="btn btn-block btn-default stellar-button change-button">Change</button>
</group>
<group ng-show="mode=='sending'" class="mode-sending">
    <img class="sending-rocket" src="./images/sending.gif"/>
    <p rp-spinner="4" l10n="l10n" class="literal">Sending transaction to Stellar network</p>
    <hr/>
    <p>
        <button ng-click="reset()" l10n="l10n" class="btn btn-default">Stop waiting</button>
    </p>
</group>
<group ng-show="mode=='error'" class="mode-error">
    <group ng-switch on="error_type">
        <group ng-switch-when="noDest" class="result-error">
            <h2 l10n="l10n" class="tx-status">Destination does not exist</h2>
            <p l10n="l10n">The wallet you&#39;re trying to send to does not exist.</p>
        </group>
        <group ng-switch-when="noPath" class="result-error">
            <h2 l10n="l10n" class="tx-status">No Path</h2>
            <p l10n="l10n">Stellar was unable to find a path between you and the destination account.</p>
        </group>
        <group ng-switch-when="invalidTransaction" class="result-error">
            <h2 l10n="l10n" class="tx-status">Invalid transaction</h2>
            <p l10n="l10n">The transaction was rejected by the server due to a client issue.</p>
        </group>
        <group ng-switch-default="ng-switch-default">
            <p l10n="l10n" class="literal">
                Sorry, an error occurred while submitting your transaction.
                Make sure you are connected to the Internet and try again later.
            </p>
            <p l10n="l10n" class="literal">Please ensure you don't send your payment more than once.</p>
        </group>
    </group>
    <p>
        <button ng-click="cancelConfirm()" l10n="l10n" class="btn btn-default">&laquo; Back</button>
    </p>
</group>

<div ng-show="mode=='stellarerror'" class="modalStatus error-modalStatus">
    <div class="modalStatus-title">Oops</div>
    <div class="modalStatus-info">{{error_message}}</div>
    <button class="btn btn-default btn-stellar modalStatus-btn" ng-click="tryAgain()">Try again</button>
</div>

<div ng-show="mode=='status'" class="modalStatus">
    <group ng-show="tx_result=='pending'" class="pending">
        <img class="sending-rocket" src="./images/sending.gif"/>
        <h2 l10n="l10n" class="tx-status">Your transaction has been submitted.</h2>
        <p l10n="l10n">Your account balance will update once the payment has cleared.</p>
    </group>
    <div ng-show="tx_result=='cleared'" class="result-success">
        <i class="icon icon-check-circle-thin modalStatus-icon"></i>
        <p class="modalStatus-title">Transaction cleared.</p>
    </div>
    <group ng-show="tx_result=='partial'" class="result-partial">
        <h2 l10n="l10n" class="tx-status">Transaction partially valid!</h2>
        <p l10n="l10n">Your transaction could only be partially applied.</p>
    </group>
    <group ng-show="tx_result=='error'" class="result-error">
        <h2 l10n="l10n" class="tx-status">Transaction could not be submitted!</h2>
        <p l10n="l10n">
            We were unable to submit the transaction to the server.
            Please try again later.
        </p>
    </group>
    <group ng-show="tx_result=='malformed'" class="result-malformed">
        <h2 l10n="l10n" class="tx-status">Transaction malformed!</h2>
        <p ng-switch on="engine_result"><span ng-switch-default="ng-switch-default" l10n="l10n">Your transaction is invalid, reason: {{engine_result}} - {{engine_result_message}}</span></p>
    </group>
    <group ng-show="tx_result=='failure'" class="result-malformed">
        <h2 l10n="l10n" class="tx-status">Transaction malformed!</h2>
        <p ng-switch on="engine_result"><span ng-switch-when="tefDST_TAG_NEEDED" l10n="l10n">Destination account requires destination tag to be specified when making payments.</span></p>
    </group>
    <group ng-show="tx_result=='local'" class="result-failed">
        <h2 l10n="l10n" class="tx-status">Transaction failed!</h2>
        <p ng-switch on="engine_result"><span ng-switch-when="telINSUF_FEE_P" l10n="l10n">
          The particular server you sent the transaction to was too busy to forward or process
           your transaction at the fee you included in it.</span></p>
    </group>
    <group ng-show="tx_result=='claim'" class="result-malformed">
        <h2 l10n="l10n" class="tx-status">Transaction failed!</h2>
        <p ng-switch on="engine_result"><span ng-switch-when="tecNO_DST" l10n="l10n">The destination account does not exist.</span><span ng-switch-when="tecNO_DST_INSUF_XRP" l10n="l10n">The destination account does not exist. Too little STR sent to create it.</span><span ng-switch-default="ng-switch-default" l10n="l10n">Error: {{engine_result_message}}</span></p>
    </group>
    <group ng-show="tx_result=='failed'" class="result-failed">
        <h2 l10n="l10n" class="tx-status">Transaction failed!</h2>
        <p ng-switch on="engine_result"><span ng-switch-when="terNO_LINE" l10n="l10n">You have no trust line in this currency.</span><span ng-switch-default="ng-switch-default" l10n="l10n">Your transaction failed to clear, reason: {{engine_result_message}}</span></p>
    </group>

    <button ng-show="tx_result=='cleared'" class="btn btn-default btn-stellar modalStatus-btn" ng-click="reset()">
        <i class="icon icon-send"></i>
        Send another payment
    </button>
</div>
</div>





