<div class="info">
	<h2>Send your first <strong>{{giveawayAmount * .2}}</strong> - receive <strong>{{giveawayAmount * .2}}</strong> in return. </h2>
	<small> If you're looking for a good recipient, <a href="http://www.bravenewsoftware.org/">bravenewsoftware</a>, <a href="http://intelligence.org/">miri</a> or <a href="http://www.missionbit.com/">missionbit</a> are good defaults. </small>
</div>

<div class="send-stellar">
    <img src="../images/right-up-arrow.svg" class="send-arrow"/>
    <button class="btn btn-default stellar-button" ng-click="sendTutorial()">Get started now!</button>
</div>
