<div ng-controller="TradingFormCtrl">
    <form role="form" class="form-horizontal" ng-submit="createOffer()">
        <div class="form-group">
            <div class="col-xs-4">
                <label class="radio-inline">
                    <input type="radio" ng-model="formData.tradeOperation" value="buy"> Buy
                </label>
                <label class="radio-inline">
                    <input type="radio"ng-model="formData.tradeOperation" value="sell"> Sell
                </label>
            </div>
            <div class="col-xs-6"><input type="text" class="form-control" ng-model="formData.baseAmount"></input></div>
            <div class="col-xs-2">
                <select class="form-control" ng-model="formData.baseCurrency.currency" ng-options="currencyName for currencyName in currencyNames">
                </select>
            </div>
        </div>
        <div class="form-group" ng-show="hasIssuer(formData.baseCurrency.currency)">
            <div class="col-xs-4">ISSUED BY</div>
            <div class="col-xs-8">
                <select class="form-control" ng-model="formData.baseCurrency.issuer" ng-options="issuer as (issuer | addressToUsername) for issuer in getIssuers(formData.baseCurrency)"></select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-4">WITH EACH PRICED AT</div>
            <div class="col-xs-6"><input type="text" class="form-control" ng-model="formData.unitPrice"></input></div>
            <div class="col-xs-2">
                <select class="form-control" ng-model="formData.counterCurrency.currency" ng-options="currencyName for currencyName in currencyNames">
                </select>
            </div>
        </div>
        <div class="form-group" ng-show="hasIssuer(formData.counterCurrency.currency)">
            <div class="col-xs-4">ISSUED BY</div>
            <div class="col-xs-8">
                <select class="form-control" ng-model="formData.counterCurrency.issuer" ng-options="issuer as (issuer | addressToUsername) for issuer in getIssuers(formData.counterCurrency)"></select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-4">TOTAL PAYABLE</div>
            <div class="col-xs-6"><input type="text" class="form-control" ng-model="formData.counterAmount" disabled></input></div>
            <div class="col-xs-2"><input type="text" class="form-control" ng-model="formData.counterCurrency.currency" disabled></input></div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-4 col-xs-3">
                <button type="submit" class="btn btn-default">
                  {{ createOffer.isLoading() ? 'Submitting...' : 'Submit Order' }}
                </button>
            </div>
        </div>
    </form>
</div>