<div class="transaction-history client-section" ng-controller="TransactionHistoryCtrl" ng-show="transactionPage.length">
    <div class="container">
        <span class="tx-title" translate>My transactions</span><br>
        <div class="tx-grid" ng-grid="transactionGrid"></div>
        <div class="tx-paging" ng-show="lastPage() > 1">
            <button ng-click="previousPage()" class="btn btn-default previous-page" ng-class="{disabled: pagingOptions.currentPage == 1}">Previous</button>
            <button ng-click="nextPage()" class="btn btn-default next-page" ng-class="{disabled: pagingOptions.currentPage == lastPage()}">Next</button>
        </div>
    </div>
</div>
