<div class="transaction-history client-section" ng-controller="TransactionHistoryCtrl" ng-show="transactionPage.length">
    <div class="container">
        <span class="tx-title">{{'dashboard.my_transactions' | translate}}</span><br>
        <div class="tx-grid" ng-grid="transactionGrid"></div>
        <div class="tx-paging" ng-show="lastPage() > 1">
            <button ng-click="previousPage()" class="btn btn-default stellar-button previous-page" ng-class="{disabled: pagingOptions.currentPage == 1}">{{'dashboard.previous' | translate}}</button>
            <button ng-click="nextPage()" class="btn btn-default stellar-button next-page" ng-class="{disabled: pagingOptions.currentPage == lastPage()}">{{'dashboard.next' | translate}}</button>
        </div>
    </div>
</div>
