<div class="info" ng-show="reward.status == 'incomplete'">
    Activate password recovery by verifying your email.<br />
    We will email you a code that you must enter here to complete the activation.
</div>
<div class="info" ng-show="reward.status == 'unverified'">
    Enter the code that was sent to your email to verify your email.<br />
    This will also activate your password recovery feature.<br />
    Warning! You will not be able to recover your password if you do not activate this feature.
</div>
<div class="verify-email">
    <div class="add-email-item" ng-class="{active: reward.status == 'incomplete'}">
        <form role="form" name="addEmailForm" ng-controller="AddEmailCtrl" ng-submit="addEmail()" novalidate>
            <div class="form-group">
                <div class="errors col-sm-12">
                    <div class="tip">{{ errors.join('\n') }}</div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <input id="email" name="email" type="email" class="form-control" ng-class="{'input-error': errors.length}" placeholder="Email Address" ng-model="email" ng-change="errors = []">
                    <label id="checkbox">
                        <input type="checkbox" name="subscribe" ng-model="subscribe"> Subscribe to news from Stellar
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-3 button-col-left">
                    <button type="button" class="cancel btn btn-default" ng-click="cancel()">Cancel</button>
                </div>
                <div class="col-xs-9 button-col-right">
                    <button type="submit" class="submit btn btn-default" ng-class="{loading: loading}" ng-disabled="loading">{{loading ? 'Loading...' : 'Step 1: Send code to email' }}</button>
                </div>
            </div>
        </form>
    </div>
    <div class="verify-email-item" ng-class="{active: reward.status == 'unverified'}">
        <form role="form" ng-controller="VerifyEmailCtrl" ng-submit="verifyEmail()">
            <div class="form-group">
                <div class="errors col-sm-12">
                    <div class="tip col-sm-offset-6 col-sm-6">{{ errors.join('\n') }}</div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <input id="emailActivationCode" type="text" class="form-control" ng-class="{'input-error': errors.length}" placeholder="Recovery Code" ng-model="emailActivationCode" ng-change="errors = []">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-3 button-col-left">
                    <button type="button" class="cancel btn btn-default" ng-click="back()">Back</button>
                </div>
                <div class="col-xs-9 button-col-right">
                    <button type="submit" class="submit btn btn-default" ng-class="{loading: loading}" ng-disabled="loading">{{loading ? 'Loading...' : 'Step 2: Activate password recovery' }}</button>
                </div>
            </div>
        </form>
    </div>
</div>